
</div>

<!-- Footer -->
<footer>
<div class="container">
  <div class="row quick-links-panel">

    <div class="col-md-3 col-sm-6 col-xs-12">
          <h1 class="quick-links-panel-heading"><a href="/content/about-us">About us</a></h1>
          <ul>
            <li><a href="/content/what-our-members-say">What Our Members Say</a></li>
            <li><a href="/content/history">History</a></li>
            <li><a href="/content/employment">Employment</a></li>
            <li><a href="/content/our-team">Our team</a></li>
            <li><a href="/content/opening-hours">Opening hours</a></li>
          </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
          <h1 class="quick-links-panel-heading"><a href="/content/contact-us">Contact us</a></h1>
          <ul>
            
          </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
          <h1 class="quick-links-panel-heading"><a href="/content/whats-on">Whats on</a></h1>
          <ul>
            <li><a href="/content/social-events">Social events</a></li>
            <li><a href="/content/touch-rugby">Touch rugby</a></li>
            <li><a href="/content/tennis-round-robins">Tennis round robins</a></li>
            <li><a href="/content/abc-nursery">ABC nursery</a></li>
          </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
          <h1 class="quick-links-panel-heading"><a href="/content/food-drink">Food  &amp; Drink</a></h1>
          <ul>
            <li><a href="/content/main-bar">Main bar</a></li>
          </ul>
      </div>

  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p>The Hogarth Health Club, Airedale Avenue, Chiswick, West London, W4 2NW</p>
    </div>
  </div>
</div>

{{ 'application.js' | javascript_tag }}

<script type='text/javascript'>
  $(document).ready(function() {
  $('.element').responsiveEqualHeightGrid();
    $('#menu').slicknav();
    $('.ajax').colorbox({maxWidth:'100%', maxHeight:'80%'});
    $('.flexslider').flexslider({
      animation: "slide"
      });
  });
</script>

      </footer>
      <!-- END Footer -->

    </div>
  </body>
</html>