
</div>

<!-- Footer -->
<footer>
<div class="container">
  <div class="row">

    <div class="col-sm-12 col-xs-12">
      <ul>
        <li><a href="/content/about-us">About us</a></li>
        <li><a href="/contact-us">Contact us</a></li>
        <li><a href="/content/whats-on">Whats on</a></li>
        <li><a href="/content/food-drink">Food &amp; drink</a></li>
      </ul>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p>The Hogarth Health Club, Airedale Avenue, Chiswick, West London, W4 2NW</p>
    </div>
  </div>
</div>

{{ 'application.js' | javascript_tag }}

<script type='text/javascript'>
  $(document).ready(function() {
  $('.element').responsiveEqualHeightGrid();
    $('#menu').slicknav();
    $('.ajax').colorbox({maxWidth:'100%', maxHeight:'80%'});
    $('.flexslider').flexslider({
      animation: "slide"
      });
  });
</script>

      </footer>
      <!-- END Footer -->

    </div>
  </body>
</html>