<header id="mast">
  <div class="container">  
    <a href="/"><div class="logo"></div></a>
    <div class="social-bar">
      <div class="number">
        <span class="tel-text">For other<br>enquiries</span>
        <span class="tel">020 8994 0500</span>
      </div>
      <div class="number">
        <span class="tel-text">For new<br>members</span>
        <span class="tel">020 8994 0500</span>
      </div>
      <a href="https://www.facebook.com/TheParkClub" target="_blank"><div class="fb"></div></a><a href="https://twitter.com/the_park_club" target="_blank"><div class="tw"></div></a><a href="http://www.theparkclub.co.uk" class="members" target="_blank">Members</a>
    </div>
    <div class="mobile-tel">020 8994 0500</div>
    <div class="navigation-bar" id="menu">
      <ul class="nav-primary">
        <li><a href="/sections/exercise-studio" class="first">Exercise studio</a></li>
        <li><a href="/sections/swimming">Swimming</a></li>
        <li><a href="/sections/gym">Gym</a></li>
        <li><a href="/sections/tennis">Tennis</a></li>
        <li><a href="/sections/squash">Squash</a></li>
        <li><a href="/sections/clinic">Clinic</a></li>
        <li><a href="/sections/beauty" class="last">Beauty</a></li>
      </ul>
    </div>
  </div>

  <div class="nav-drop fixed-height">
    <div class="container">
      <div class="drop">
        <ul class="inner-drop row">
          <li>&nbsp;</li>
          <li>
            <ul class="menu">
              <li><a href="/content/pilates-with-studio-17">Pilates with Studio 17</a></li>
              <li><a href="/content/spin-class">Spin class</a></li>
              <li><a href="/content/yoga">Yoga</a></li>
              <li><a href="/content/zumba">Zumba</a></li>
            </ul>
          </li>
          <li>
            <ul class="menu">
              
            </ul>
          </li>
          <li>
            <p></p>
            <ul class="related">
             
            </ul>
          </li>
          <li>
            <a href="#">
              <img src="http://lorempixel.com/212/160" alt="" />
            </a>
          </li>
        </ul>
      </div><!-- /drop -->
      <div class="drop" style="display:none;">
        <ul class="inner-drop row">
          <li>&nbsp;</li>
          <li>
            <ul class="menu">
              <li><a href="/content/steam-room">steam room</a></li>
            </ul>
          </li>
          <li>
            <ul class="menu">
              
            </ul>
          </li>
          <li>
            <p></p>
            <ul class="related">
             
            </ul>
          </li>
          <li>
            <a href="#">
              <img src="http://lorempixel.com/212/160" alt="" />
            </a>
          </li>
        </ul>
      </div><!-- /drop -->
      <div class="drop">
        <ul class="inner-drop row">
          <li>&nbsp;</li>
          <li>
            <ul class="menu">
              <li><a href="/content/metabolic-profiling">Metabolic Profiling</a></li>
              <li><a href="/content/personal-training">Personal Training</a></li>
            </ul>
          </li>
          <li>
            <ul class="menu">
              
            </ul>
          </li>
          <li>
            <p></p>
            <ul class="related">
             
            </ul>
          </li>
          <li>
            <a href="#">
              <img src="http://lorempixel.com/212/160" alt="" />
            </a>
          </li>
        </ul>
      </div><!-- /drop -->
      <div class="drop">
        <ul class="inner-drop row">
          <li>&nbsp;</li>
          <li>
            <ul class="menu">
              <li><a href="/content/tennis-coaches">Our coaches</a></li>
              <li><a href="/content/tennis-round-robins">Tennis round robins</a></li>
            </ul>
          </li>
          <li>
            <ul class="menu">
              
            </ul>
          </li>
          <li>
            <p></p>
            <ul class="related">
              
            </ul>
          </li>
          <li>
            <a href="#">
              <img src="http://lorempixel.com/212/160" alt="" />
            </a>
          </li>
        </ul>
      </div><!-- /drop -->
      <div class="drop" style="display: none;">
        <ul class="inner-drop row">
          <li>&nbsp;</li>
          <li>
            <ul class="menu">
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
            </ul>
          </li>
          <li>
            <ul class="menu">
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
            </ul>
          </li>
          <li>
            <p>RELATED LINKS</p>
            <ul class="related">
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <img src="http://lorempixel.com/212/160" alt="" />
            </a>
          </li>
        </ul>
      </div><!-- /drop -->
      <div class="drop">
        <ul class="inner-drop row">
          <li>&nbsp;</li>
          <li>
            <ul class="menu">
              <li><a href="/content/clinical-treatments">Clinical Treatments</a></li>
              <li><a href="/content/london-acupuncture-clinic">London Acupuncture Clinic</a></li>
              <li><a href="/content/sports-therapy">Sports Therapy</a></li>
              <li><a href="/content/aesthetic-surgery-clinic">Aesthetic Surgery Clinic</a></li>
            </ul>
          </li>
          <li>
            <ul class="menu">
              <li><a href="/content/chiropractor">Chiropractor</a></li>
              <li><a href="/content/physiotherapy">Physiotherapy</a></li>
              <li><a href="/content/rolfing">Rolfing</a></li>
              <li><a href="/content/sports-massage">Sports Massage</a></li>
            </ul>
          </li>
          <li>
            <ul class="menu">              
              <li><a href="/content/chiswick-osteopathic-clinic">Chiswick Osteopathic Clinic</a></li>
              <li><a href="/content/pilates-studio">Pilates - STUDIO 17</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <img src="http://lorempixel.com/212/160" alt="" />
            </a>
          </li>
        </ul>
      </div><!-- /drop -->
      <div class="drop">
        <ul class="inner-drop row">
          <li>&nbsp;</li>
          <li>
            <ul class="menu">
              <li><a href="/content/beauty-offer-of-the-month">Beauty & Spa Treatments (including offer of the month)</a></li>
              <li><a href="/content/facials">Facials</a></li>
              <li><a href="/content/voya-facials-body-treatments">VOYA Facials & Body Treatments</a></li>
              <li><a href="/content/mens-grooming">Men's Grooming</a></li>
            </ul>
          </li>
          <li>
            <ul class="menu">
              <li><a href="/content/caci-quantum">Caci Quantum</a></li>
              <li><a href="/content/epilation">Epilation</a></li>
              <li><a href="/content/jessica-nail-treatments">Jessica Nail Treatments</a></li>
              <li><a href="/content/massage">Massage</a></li>              
              <li><a href="/content/fresh-indulgence-spray-tans-tanning-without-sun">Fresh Indulgence Spray Tans - tanning without sun</a></li>
            </ul>
          </li>

          <li>
            <ul class="menu">
              <li><a href="/content/mother-to-be">Mother-to-be</a></li>
              <li><a href="/content/holistic-massage-therapy">Holistic Massage Therapy</a></li>
              <li><a href="/content/electrolysis">Electrolysis</a></li>
              <li><a href="/content/finishing-touches">Finishing Touches</a></li>
              <li><a href="/content/beauty-products">Beauty Products</a></li>
              <li><a href="/content/diamond-peel-microdermabrasion-new">Diamond Peel Microdermabrasion - NEW</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <img src="http://lorempixel.com/212/160" alt="" />
            </a>
          </li>
        </ul>
      </div><!-- /drop -->
    </div><!-- /container -->
  </div><!-- /nav-drop -->
</header>

<div class="main"> 