<div class="container">  
  <a href="/"><div class="logo"></div></a>
  <div class="social-bar">
    <div class="number">
      <span class="tel-text">For other<br>enquiries</span>
      <span class="tel">020 8994 0500</span>
    </div>
    <div class="number">
      <span class="tel-text">For new<br>members</span>
      <span class="tel">020 8994 0500</span>
    </div>
    <a href="https://www.facebook.com/TheParkClub" target="_blank"><div class="fb"></div></a><a href="https://twitter.com/the_park_club" target="_blank"><div class="tw"></div></a><a href="http://www.theparkclub.co.uk" class="members" target="_blank">Members</a>
  </div>
  <div class="mobile-tel">020 8994 0500</div>
  <div class="navigation-bar" id="menu">
    <ul class="nav-primary">
      <li><a href="/sections/exercise-studio" class="first">Exercise studio</a></li>
      <li><a href="/sections/swimming">Swimming</a></li>
      <li><a href="/sections/gym">Gym</a></li>
      <li><a href="/sections/tennis">Tennis</a></li>
      <li><a href="/sections/squash">Squash</a></li>
      <li><a href="/sections/clinic">Clinic</a></li>
      <li><a href="/sections/beauty" class="last">Beauty</a></li>
    </ul>
  </div>
</div>

<div class="nav-drop fixed-height">
  <div class="container">
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
  </div><!-- /container -->
</div><!-- /nav-drop -->