<div class="container">  
  <a href="/"><div class="logo"></div></a>
  <div class="social-bar">
    <div class="number">
      <span class="tel-text">For other<br>enquiries</span>
      <span class="tel">020 8994 0500</span>
    </div>
    <div class="number">
      <span class="tel-text">For new<br>members</span>
      <span class="tel">020 8994 0500</span>
    </div>
    <a href="https://www.facebook.com/TheParkClub" target="_blank"><div class="fb"></div></a><a href="https://twitter.com/the_park_club" target="_blank"><div class="tw"></div></a><a href="http://www.theparkclub.co.uk" class="members" target="_blank">Members</a>
  </div>
  <div class="mobile-tel">020 8994 0500</div>
  <div class="navigation-bar" id="menu">
    <ul class="nav-primary">
      <li><a href="/sections/exercise-studio" class="first">Exercise studio</a></li>
      <li><a href="/sections/swimming">Swimming</a></li>
      <li><a href="/sections/gym">Gym</a></li>
      <li><a href="/sections/tennis">Tennis</a></li>
      <li><a href="/sections/squash">Squash</a></li>
      <li><a href="/sections/clinic">Clinic</a></li>
      <li><a href="/sections/beauty" class="last">Beauty</a></li>
    </ul>
  </div>
</div>

<div class="nav-drop fixed-height">
  <div class="container">
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="/sections/swimming/steam-room">steam room</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="/sections/gym">The Gym</a></li>
            <li><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li><a href="/sections/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="/sections/tennis/tennis-coaches">tennis coaches</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="/sections/clinic/aesthetic-surgery-clinic">aesthetic surgery clinic</a></li>
            <li><a href="/sections/clinic/chiropractor">chiropractor</a></li>
            <li><a href="/sections/clinic/chiswick-osteopathic-clinic">chiswick osteopathic clinic</a></li>
            <li><a href="/sections/clinic/clinical-treatments">clinical treatments</a></li>
            <li><a href="/sections/clinic/london-acupuncture-clinic">london-acupuncture-clinic</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="/sections/clinic/mindsailing">mindsailing</a></li>
            <li><a href="/sections/clinic/physiotherapy">physiotherapy</a></li>
            <li><a href="/sections/clinic/pilates-studio">pilates studio</a></li>
            <li><a href="/sections/clinic/rolfing">rolfing</a></li>
            <li><a href="/sections/clinic/sports-therapy">sports therapy</a></li>
          </ul>
        </li>
        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
    <div class="drop">
      <ul class="inner-drop row">
        <li>&nbsp;</li>
        <li>
          <ul class="menu">
            <li><a href="/sections/beauty/beauty-offer-of-the-month">beauty offer of the month</a></li>
            <li><a href="/sections/beauty/beauty-products">beauty products</a></li>
            <li><a href="/sections/beauty/beauty-spa-treatments">beauty spa treatments</a></li>
            <li><a href="/sections/beauty/caci-quantum">caci quantum</a></li>
            <li><a href="/sections/beauty/diamond-peel-microdermabrasion-new">diamond peel microdermabrasion new</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu">
            <li><a href="/sections/beauty/electrolysis">electrolysis</a></li>
            <li><a href="/sections/beauty/epilation">epilation</a></li>
            <li><a href="/sections/beauty/facials">facials</a></li>
            <li><a href="/sections/beauty/finishing-touches">finishing touches</a></li>
            <li><a href="/sections/beauty/fresh-indulgence-spray-tans-tanning-without-sun">fresh indulgence spray tans tanning without sun</a></li>
          </ul>
        </li>

        <li>
          <p>RELATED LINKS</p>
          <ul class="related">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/212/160" alt="" />
          </a>
        </li>
      </ul>
    </div><!-- /drop -->
  </div><!-- /container -->
</div><!-- /nav-drop -->