<div class="flexslider">
  <ul class="slides">
    <li>
      {{ 'main-slider-1.jpg' | theme_image_tag: 'alt:main-slider' }}
      <div class="flex-caption">
        <div class="title">Enjoy</div>
        <div class="caption">wile away the stresses of the day in the mood lit pool</div>
      </div>
    </li>
    <li>
      {{ 'main-slider-2.jpg' | theme_image_tag: 'alt:main-slider' }}
      <div class="flex-caption">
        <div class="title">Relax</div>
        <div class="caption">wile away the stresses of the day in the mood lit pool</div>
      </div>
    </li>
  </ul>
</div>