<div class="outer-promo-panel">
  <div class="container">
    <div class="row quick-links-panel">

      <div class="col-md-3 col-sm-6 col-xs-12">
          <h1 class="quick-links-panel-heading">Studio activities</h1>
          <ul>
            <li><a href="http://www.theparkclub.co.uk">Pilates with Studio</a></li>
            <li><a href="http://www.theparkclub.co.uk">Zumba classes</a></li>
            <li><a href="http://www.theparkclub.co.uk">Legs, Bums and Tums</a></li>
          </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
          <h1 class="quick-links-panel-heading">State-of-the-art gym</h1>
          <ul>
            <li><a href="http://www.theparkclub.co.uk">Metabolic profiling</a></li>
            <li><a href="http://www.theparkclub.co.uk">Personal training</a></li>
            <li><a href="http://www.theparkclub.co.uk">Our gym equipment</a></li>
          </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
          <h1 class="quick-links-panel-heading">Clinic &amp; Beauty</h1>
          <ul>
            <li><a href="http://www.theparkclub.co.uk">Finishing Touches</a></li>
            <li><a href="http://www.theparkclub.co.uk">Chiropractor</a></li>
            <li><a href="http://www.theparkclub.co.uk">VOYA Facials &amp; Body Treatments</a></li>
          </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
          <h1 class="quick-links-panel-heading">Social events</h1>
          <ul>
            <li><a href="http://www.theparkclub.co.uk">Finishing Touches</a></li>
            <li><a href="http://www.theparkclub.co.uk">Chiropractor</a></li>
            <li><a href="http://www.theparkclub.co.uk">VOYA Facials &amp; Body Treatments</a></li>
          </ul>
      </div>
    </div>
  </div>        
</div>