{% for panel in contents.promo_middle %}
  {% if panel.page == page.slug %}
  	{% if panel.position == 'Left' %}
			<div class="landing-section">
			  <div class="landing-section-img">
			  	<img src="{{ panel.image.url }}" alt="{{ panel.title | escape }}">
			  </div>
			  <h3 class="landing-section-heading">{{ panel.title }}</h3>
			  <p>
			  	{{ panel.description }}
			  </p> 
			</div>
  	{% endif %}
  {% endif %}
{% endfor %}