{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">{% editable_text title284, hint: "a title", format: raw, rows: 1 %}Chiswick Osteopathic Clinic{% endeditable_text %}</h1>        
 					<p>{% editable_text title285, hint: "a title", format: raw, rows: 1 %}
 						We are delighted to welcome two new professionals to The Hogarth Clinic. Carlo Constandinou and Katie Hunter run The Chiswick Osteopathic Clinic and have been working as osteopaths for many years.{% endeditable_text %}
 					</p>
				<h4>{% editable_text title286, hint: "a title", format: raw, rows: 1 %}Carlo Constandinou{% endeditable_text %}</h4>
					<p>{% editable_text title287, hint: "a title", format: raw, rows: 1 %}
						"I have been practicing for over twenty years; during that time I have developed a very family orientated practice.{% endeditable_text %}
					</p>
					<p>{% editable_text title288, hint: "a title", format: raw, rows: 1 %}
						The type of osteopathy I practice is very gentle and suitable for all ages, from newborn babies upwards. I enjoy the challenge of working with complex problems and have a keen interest in biomechanics and the physiology of pain. I very much see my role as treating the present problem but also making sure it does not return. I hope that when leaving a visit at our practice the client will know a lot more about how to stay pain free than when they arrived.
            {% endeditable_text %}
					</p>
					<p>{% editable_text title289, hint: "a title", format: raw, rows: 1 %}
						I spent years at the Osteopathic Centre for Children as one of the senior osteopaths where I was in charge of a team treating babies and children with a variety of conditions.{% endeditable_text %}
					</p>
					<p>{% editable_text title290, hint: "a title", format: raw, rows: 1 %}
						I had the good fortune to meet and work with fantastic paediatric osteopaths. I regularly attended the paediatric intensive care unit at Barnet General where I treated severely premature babies through a glove box. I also attended Great Ormond Street Children’s hospital when any of our patients were admitted there.{% endeditable_text %}
					</p>
          <p>{% editable_text title291, hint: "a title", format: raw, rows: 1 %}
            I look forward to meeting and working with some of you from our clinic upstairs here at The Hogarth.”{% endeditable_text %}
          </p>					
				<h4>{% editable_text title292, hint: "a title", format: raw, rows: 1 %}Katie Hunter
        {% endeditable_text %}</h4>
					<p>{% editable_text title293, hint: "a title", format: raw, rows: 1 %}
						“I have been in practice for over ten years and my approach, like Carlo's, is very gentle and integrated. I have a strong background in science with a first class degree in microbiology. I was particularly struck by the comment of the founder of osteopathy who said that without good circulation good health is not possible. With this in mind I have developed particular skill in lymphatic drainage which, coupled with my other osteopathic skills, I find is a very effective holistic approach to health. The work has helped patients with conditions such as post operative swelling and discomfort, MS and bloating.
            {% endeditable_text %}
					</p>
					<p>{% editable_text title294, hint: "a title", format: raw, rows: 1 %}
						I use a lot of soft tissue techniques in my work and this allows me to treat people who feel that they are in need of general maintenance and would benefit from a massage but would like it to be more specific and targeted to any problems that are discovered.”
            {% endeditable_text %}
					</p>
				
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio-17">Pilates with Studio 17</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>

        </div>
      </div>

    </div><!-- Container and row -->
  </div> 



  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>
          
      </div>

    </div>
  </div>
  <!-- END Promo panel -->

{% endblock %}