{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">{% editable_text title303, hint: "a title", format: raw, rows: 1 %}London Acupuncture Clinic{% endeditable_text %}</h1>
        <h4>{% editable_text title304, hint: "a title", format: raw, rows: 1 %}What is Acupuncture?{% endeditable_text %}</h4>
 					<p>{% editable_text title305, hint: "a title", format: raw, rows: 1 %}
 						Acupuncture is the time tested therapy that has been practiced in the Far East for thousands of years. The philosophy behind the treatment is that energy lines or meridians circulate around the body. These meridians contain our energy flow or “qi”. It is when this qi is impaired through the body that imbalance and illness occurs. With the insertion of fine needles at various points on the meridian, the energy can be moved or redirected to where it is needed most. In this way the body's balance can be restored and the illness resolved.{% endeditable_text %}
 					</p>
          <p>{% editable_text title306, hint: "a title", format: raw, rows: 1 %}
            The flow of energy can be disrupted in many ways; emotional upset, physical trauma, poor diet or overwork are all common examples. By examining this underlying cause and how it has affected the body, the most appropriate treatment for the patient can be selected. Treating the patient as an individual is at the core of the acupuncture treatment and it this that helps allow the body to rebalance itself.{% endeditable_text %}
          </p>
          <p>{% editable_text title307, hint: "a title", format: raw, rows: 1 %}
            Blocked energy can manifest itself in areas that are painful or are particularly cold or hot, or a different colour. These signs can help determine which points are most suitable.{% endeditable_text %}
          </p>
          <p>{% editable_text title308, hint: "a title", format: raw, rows: 1 %}
            Western medicine has different opinions on how acupuncture works but in short, no one is really sure. However trial after trial consistently proves it effectiveness.{% endeditable_text %}
          </p>
          <p>{% editable_text title309, hint: "a title", format: raw, rows: 1 %}
            Acupuncture also includes other techniques such as cupping, moxibustion or acupressure.{% endeditable_text %}
          </p>
				<h4>{% editable_text title310, hint: "a title", format: raw, rows: 1 %}The London Acupuncture Clinic{% endeditable_text %}</h4>
					<p>{% editable_text title311, hint: "a title", format: raw, rows: 1 %}
						The London Acupuncture Clinic joined The Hogarth Clinic in 2011 and since then they have built up a loyal and satisfied client base. They also have long established clinics in Harley Street, Ealing and Windsor. For full clinic details, please visit <a href="#">www.londonacupuncture.co.uk</a>
            {% endeditable_text %}
					</p>
          <p>{% editable_text title312, hint: "a title", format: raw, rows: 1 %}
            The following acupuncture clinic practitioners currently see patients at The Hogarth Clinic.{% endeditable_text %}
          </p>
				<h3>{% editable_text title313, hint: "a title", format: raw, rows: 1 %}Martha Poulou - Cross, Acupuncturist BSc (Hons), Lic.Ac, MBAcC{% endeditable_text %}</h3>
					<p>{% editable_text title314, hint: "a title", format: raw, rows: 1 %}
						Martha is a fully qualified acupuncturist and a member of the British Acupuncture Council. She graduated from the University of Westminster with a First Class Honours Degree in Chinese Medicine: Acupuncture and received a full scholarship to complete a postgraduate clinical placement at the China Medical University in Taichung, Taiwan. In Taichung she was trained in a combination of subtle Chinese and Japanese acupuncture techniques for the treatment of acute or persistent musculoskeletal conditions.
            {% endeditable_text %}
					</p>
          <p>{% editable_text title315, hint: "a title", format: raw, rows: 1 %}
            Martha also has a particular interest in the treatment of anxiety disorders with Chinese Medicine and has undertaken extensive research in the treatment of insomnia with auricular as well as conventional body acupuncture. She has also undertaken post-graduate training in the treatment of gynaecological conditions, including menstrual disorders, infertility and IVF assistance, both in the UK and in Taiwan.{% endeditable_text %}
          </p>
          <p>{% editable_text title316, hint: "a title", format: raw, rows: 1 %}
            Martha is particularly interested in educating her patients about aspects of their lifestyle that could potentially affect their health or well-being. One of the principle aims of her treatments is to teach her patients how they can use dietary and lifestyle advice to enhance the effects of Chinese medicine treatment and promote self healing.{% endeditable_text %}
          </p>
          <p>{% editable_text title317, hint: "a title", format: raw, rows: 1 %}
            Martha’s areas of special interest include:{% endeditable_text %}
          </p>
          <ul>
            <li>{% editable_text title318, hint: "a title", format: raw, rows: 1 %}
              Musculoskeletal and rheumatic disorders{% endeditable_text %}
            </li>
            <li>{% editable_text title319, hint: "a title", format: raw, rows: 1 %}
              Anxiety and sleeping disorders{% endeditable_text %}
            </li>
            <li>{% editable_text title320, hint: "a title", format: raw, rows: 1 %}
              Menstrual disorders, infertility and IVF assistance{% endeditable_text %}
            </li>
          </ul>

				<h3>{% editable_text title321, hint: "a title", format: raw, rows: 1 %}Annabel Mitchell - Acupuncturist LicAc, BSc (Hons), MBAcC{% endeditable_text %} </h3>
					<p>{% editable_text title322, hint: "a title", format: raw, rows: 1 %}
						Annabel trained at The College of Integrated Chinese Medicine earning a BSc (Hons) in Acupuncture. She practices an integrated style of acupuncture, combining the two schools of acupuncture, Five Element Constitutional Acupuncture and Traditional Chinese Medicine (TCM). She also incorporates Tuina (Chinese Remedial Massage) into her practice. Over the past 3 years she has undertaken postgraduate training courses in Gynaecology & Fertility, Obstetrics, and Gastroenterology with Sandra Hill and Barbara Kirschbaum at The College of Integrated Chinese Medicine, and with Jani White at The Birkbeck University of London.{% endeditable_text %}
					</p>
          <p>{% editable_text title323, hint: "a title", format: raw, rows: 1 %}
            Annabel treats a wide range of conditions tailored to each individual. Her approach is holistic with treatments focusing on all aspects of the human condition, physical, mental and emotional. With a personal approach, according to her patients’ needs, she incorporates dietary and lifestyle advice to bring about good health.{% endeditable_text %}
          </p>
          <p>{% editable_text title324, hint: "a title", format: raw, rows: 1 %}
            She is a member of the British Acupuncture Council (BAcC), and the London Acupuncture Childbirth Team (ACT).{% endeditable_text %}
          </p>
          <p>{% editable_text title325, hint: "a title", format: raw, rows: 1 %}Annabel's areas of special interest include:{% endeditable_text %}</p>
          <ul>
            <li>{% editable_text title326, hint: "a title", format: raw, rows: 1 %}
              Menstrual disorders, infertility, and IVF assistance{% endeditable_text %}
            </li>
            <li>{% editable_text title327, hint: "a title", format: raw, rows: 1 %}
              Pregnancy, labour and postnatal care{% endeditable_text %}
            </li>
            <li>{% editable_text title328, hint: "a title", format: raw, rows: 1 %}
              Emotional wellbeing, anxiety, depression, stress and tension
              {% endeditable_text %}
            </li>
            <li>{% editable_text title329, hint: "a title", format: raw, rows: 1 %}
              Digestive complaints{% endeditable_text %}
            </li>
          </ul>
				<h3>{% editable_text title330, hint: "a title", format: raw, rows: 1 %}Daniel Elliott - Acupuncturist and Herbalist LLB Lic.Ac MBAcC Clin.Ac(China) Lic.OHM MRCHM{% endeditable_text %}</h3>
					<p>{% editable_text title331, hint: "a title", format: raw, rows: 1 %}
						After graduating in 1996 and further study at the London College of Traditional Acupuncture (LCTA), Daniel developed his practice in Windsor and then continued his development with a period of hospital-based work in China and He then founded The London Acupuncture Clinic. He has been a member of the British Acupuncture Council since graduating from the LCTA where he also went on study Chinese Herbal Medicine and which he now uses in conjunction with acupuncture. He has acted as a consultant for the Oriental Medicine Research Trust and also sat on the British Acupuncture Council committee. As well as teaching, Daniel acts as an acupuncture expert for media companies such as SKY and magazines like Mens Health. Daniel has done extensive post graduate study and has published in the field of gynaecological disorders and infertility.
            {% endeditable_text %}
					</p>
          <p>{% editable_text title332, hint: "a title", format: raw, rows: 1 %}
            Daniel's areas of special interest include:{% endeditable_text %}
          </p>
					<ul>
						<li>{% editable_text title333, hint: "a title", format: raw, rows: 1 %}Menstrual disorders, Infertility, and IVF assistance{% endeditable_text %}</li>
						<li>{% editable_text title334, hint: "a title", format: raw, rows: 1 %}Back pain and Sciatica{% endeditable_text %}</li>
					</ul>
				<h3>{% editable_text title335, hint: "a title", format: raw, rows: 1 %}Christina Goldoni - Acupuncturist and Herbalist BSc (Hons), Lic.Ac, Lic.OHM, MRCHM, MBAcC, Clin.Ac(China), Clin.Hb(China){% endeditable_text %}</h3>
					<p>{% editable_text title336, hint: "a title", format: raw, rows: 1 %}
						Christina began her studies at the Pacific College of Oriental Medicine (PCOM) in New York and went on to earn her BSc (Hons) in Acupuncture from the University of Portsmouth. In 2002, she worked at the Hangzhou Hospital for Traditional Chinese Medicine (China) treating patients in the Neurology, Cardiology and Pain Relief clinics. Upon completion of her post graduate Licentiate in Chinese Herbal Medicine from the London College of Traditional Acupuncture (LCTA) in 2003, Christina returned to Hangzhou China to intern in the departments of Gynaecology and Dermatology.{% endeditable_text %}
					</p>
          <p>{% editable_text title337, hint: "a title", format: raw, rows: 1 %}
            In 2008 she completed her doula training with obstetrician Dr Michel Odent. She has undertaken post graduate study in Gynaecology, Fertility, Reproductive Endocrinology, Reproductive Immunology and Obstetrics in Germany and in the UK at the Royal College of Physicians (London) in conjunction with the Royal College of Midwifery, at the John Radcliffe Hospital (Oxford) and at the New Life Fertility Clinic (Epsom).{% endeditable_text %}
          </p>
          <p>{% editable_text title338, hint: "a title", format: raw, rows: 1 %}
            In 2009 she completed her post graduate Chinese Dermatology qualification under the direction of Mazin Al-Khafaji. She is a member of the British Acupuncture Council (BAcC), the Register of Chinese Herbal Medicine (RCHM), and the London Acupuncture Childbirth Team (ACT).{% endeditable_text %}
          </p>
          <p>{% editable_text title339, hint: "a title", format: raw, rows: 1 %}
            Christina has several areas of special interest including:{% endeditable_text %}
          </p>
          <ul>
            <li>{% editable_text title340, hint: "a title", format: raw, rows: 1 %}
              Infertility, IVF assistance, menstrual disorders and recurrent miscarriage.
              {% endeditable_text %}
            </li>
            <li>{% editable_text title341, hint: "a title", format: raw, rows: 1 %}
              Pregnancy and labour.{% endeditable_text %}
            </li>
            <li>{% editable_text title342, hint: "a title", format: raw, rows: 1 %}
              Skin disorders: psoriasis, eczema, acne, vitiligo, melasma.
              {% endeditable_text %}
            </li>
            <li>{% editable_text title343, hint: "a title", format: raw, rows: 1 %}
              Immune system difficulties: hay fever/allergic rhinitis, rheumatoid arthritis, immune-suppression from chemotherapy.{% endeditable_text %}
            </li>
          </ul>
				<h3>{% editable_text title344, hint: "a title", format: raw, rows: 1 %}Mihaela Mitroescu - Acupuncturist and Tuina practitioner Bsc (Hons) Lic.Ac Dip. Tuina
        {% endeditable_text %}</h3>
					<p>{% editable_text title345, hint: "a title", format: raw, rows: 1 %}
						While training in acupuncture under Portsmouth university for her honours degree, Mihaela studied for Tuina (Chinese Medical Massage) at The London College of Traditional Acupuncture (LCTA). She is also studying classical Chinese Medicine under Dr Anaud Versluys.{% endeditable_text %}
					</p>
          <p>{% editable_text title346, hint: "a title", format: raw, rows: 1 %}
            Mihaela is particularly interested in stress management, using a traditional medical system and focusing this understanding on the problems of modern men and women leading busy lives. Stress is a foremost cause of health problems with the mental strain and anxiety of a fast-paced life often leading to emotional disturbances, fatigue, fertility issues, physical tension, digestive disorders and a myriad of other problems. Whilst addressing these disorders, Mihaela is dedicated to regulating the way the body and nervous system respond to stress, calm the mind and bring lasting balance to various systems. A passionate yoga practitioner, Mihaela brings a breadth of experience that stems from a lifelong pursuit of holistic wellness and a studied understanding of the relationship between body and mind.{% endeditable_text %}
          </p>
          <p>{% editable_text title347, hint: "a title", format: raw, rows: 1 %}
            In addition, she is dedicated to treating gynaecological conditions and fertility issues in conjunction with western therapies. Mihaela looks to take care of the entire spectrum of menstrual life, from puberty through to menopause, in order to optimise the experience of menstruation and restore fertility. Mihaela also works at the NewLife fertility/IVF unit In Espom providing support to the consultant team.{% endeditable_text %}
          </p>
          <p>{% editable_text title348, hint: "a title", format: raw, rows: 1 %}
            Mihaela has several areas of special interest including:{% endeditable_text %}
          </p>
          <ul>
            <li>{% editable_text title349, hint: "a title", format: raw, rows: 1 %}
              Stress management{% endeditable_text %}
            </li>
            <li>{% editable_text title350, hint: "a title", format: raw, rows: 1 %}
              Musculoskeletal pain and injuries{% endeditable_text %}
            </li>
            <li>{% editable_text title351, hint: "a title", format: raw, rows: 1 %}
              Menstrual disorders, infertility, and IVF assistance{% endeditable_text %}
            </li>
          </ul>
				

      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

         <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">{% editable_text title689, hint: "a title", format: raw, rows: 1 %}Sauna{% endeditable_text %}</h3>
            <p>{% editable_text title690, hint: "a title", format: raw, rows: 1 %}Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu{% endeditable_text %}</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title691, hint: "a title", format: raw, rows: 1 %}Membership offer{% endeditable_text %}</h3>
              <p>{% editable_text title692, hint: "a title", format: raw, rows: 1 %}New members in August can take part in a free studio session Join us!{% endeditable_text %}</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title693, hint: "a title", format: raw, rows: 1 %}Personal training{% endeditable_text %}</h3>
              <p>{% editable_text title694, hint: "a title", format: raw, rows: 1 %}Stay focussed on your goals with a personalised plan from our highly qualified trainers{% endeditable_text %}</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}