{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">{% editable_text title352, hint: "a title", format: raw, rows: 1 %}MindSailing{% endeditable_text %}</h1>
        <h4>{% editable_text title353, hint: "a title", format: raw, rows: 1 %}Graeme MacLure BSc. (Hons), MSc, DCH, DHP{% endeditable_text %}</h4>
 					<p>{% editable_text title354, hint: "a title", format: raw, rows: 1 %}
 						As a hypnotherapist and coach, Graeme’s focus is enabling clients to relax, explore and become the best possible version of themselves in successfully managing life’s challenges, stresses, transitions, opportunities, difficulties and dilemmas.{% endeditable_text %}
 					</p>
					<p>{% editable_text title355, hint: "a title", format: raw, rows: 1 %}
						He works with clients in areas such as anxiety, fears, phobias, unwanted habits, smoking cessation, business performance issues, work and life stresses, and developing healthier lifestyles.{% endeditable_text %}
  				</p>
					<p>{% editable_text title356, hint: "a title", format: raw, rows: 1 %}
						He is also licensed to practise Gastric Hypno-Band® and Hypno-Chemo®.
            {% endeditable_text %}
					</p>
				<h4>{% editable_text title357, hint: "a title", format: raw, rows: 1 %}Qualifications and Experience{% endeditable_text %}</h4>
					<ul>
						<li>{% editable_text title358, hint: "a title", format: raw, rows: 1 %}Professional Diploma in Clinical Hypnosis and Diploma in Hypnotherapy and Psychotherapy from the Institute of Clinical Hypnosis in London.{% endeditable_text %}</li>
						<li>{% editable_text title359, hint: "a title", format: raw, rows: 1 %}Professional Coach Certified Training at Coaching Development Ltd.{% endeditable_text %}</li>
					</ul>
					<p>{% editable_text title360, hint: "a title", format: raw, rows: 1 %}
						Tel: 07920 100 820{% endeditable_text %}
					</p>
					<p>{% editable_text title361, hint: "a title", format: raw, rows: 1 %}
						Graeme@MindSailing.co.uk{% endeditable_text %}
  				</p>
					<p>{% editable_text title362, hint: "a title", format: raw, rows: 1 %}
						www.MindSailing.co.uk{% endeditable_text %}
					</p>
					
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

       <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">{% editable_text title695, hint: "a title", format: raw, rows: 1 %}Sauna{% endeditable_text %}</h3>
            <p>{% editable_text title696, hint: "a title", format: raw, rows: 1 %}Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu{% endeditable_text %}</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title697, hint: "a title", format: raw, rows: 1 %}Membership offer{% endeditable_text %}</h3>
              <p>{% editable_text title698, hint: "a title", format: raw, rows: 1 %}New members in August can take part in a free studio session Join us!{% endeditable_text %}</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title699, hint: "a title", format: raw, rows: 1 %}Personal training{% endeditable_text %}</h3>
              <p>{% editable_text title700, hint: "a title", format: raw, rows: 1 %}Stay focussed on your goals with a personalised plan from our highly qualified trainers{% endeditable_text %}</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}