{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">{% editable_text title372, hint: "a title", format: raw, rows: 1 %}Pilates - STUDIO{% endeditable_text %}</h1>
        <h4>{% editable_text title373, hint: "a title", format: raw, rows: 1 %}Who are we?
        {% endeditable_text %}</h4>
 					<p>{% editable_text title374, hint: "a title", format: raw, rows: 1 %}
 						Introducing Graeme and Lysta Reardon, a dedicated husband and wife team with a combined experience of over 23 years who will work an individual programme for your specific needs.{% endeditable_text %}
 					</p>
				<h4>{% editable_text title375, hint: "a title", format: raw, rows: 1 %}What do Studio 17 offer?{% endeditable_text %}</h4>
        <ul>
            <li>{% editable_text title376, hint: "a title", format: raw, rows: 1 %}One to One Mat Pilates - improves posture, de-stresses & strengthens core.{% endeditable_text %}</li>
            <li>{% editable_text title377, hint: "a title", format: raw, rows: 1 %}One to One Reformer Pilates - use of equipment provides increased control and enhanced challenge.{% endeditable_text %}</li>
            <li>{% editable_text title378, hint: "a title", format: raw, rows: 1 %}One to One Ante natal: Preparing your body for labour & maintaining your figure during pregnancy.{% endeditable_text %}</li>
            <li>{% editable_text title379, hint: "a title", format: raw, rows: 1 %}One to One Post natal: returning your body to its pre-natal state by strength & core stability exercises. Creche facility available for members.{% endeditable_text %}</li>
          </ul>
        <h4>{% editable_text title380, hint: "a title", format: raw, rows: 1 %}Where are we?{% endeditable_text %}</h4>
          <p>{% editable_text title381, hint: "a title", format: raw, rows: 1 %}
						Studio 17 now have a bespoke studio located within The Hogarth Health Club, adjacent to the main gymnasium. This ground floor studio boasts the very latest reformer equipment.{% endeditable_text %}
					</p>
					<p>{% editable_text title382, hint: "a title", format: raw, rows: 1 %}
						Pilates can be especially useful in dealing with:{% endeditable_text %}
					</p>
          <ul>
            <li>{% editable_text title383, hint: "a title", format: raw, rows: 1 %}Regular back pain{% endeditable_text %}</li>
            <li>{% editable_text title384, hint: "a title", format: raw, rows: 1 %}Shoulder and neck issues{% endeditable_text %}</li>
            <li>{% editable_text title385, hint: "a title", format: raw, rows: 1 %}Sciatica
            {% endeditable_text %}</li>
            <li>{% editable_text title386, hint: "a title", format: raw, rows: 1 %}Stress
            {% endeditable_text %}</li>
            <li>{% editable_text title387, hint: "a title", format: raw, rows: 1 %}Joint problems{% endeditable_text %}</li>
            <li>{% editable_text title388, hint: "a title", format: raw, rows: 1 %}Osteoporosis{% endeditable_text %}</li>
            <li>{% editable_text title389, hint: "a title", format: raw, rows: 1 %}Enhances sports performance{% endeditable_text %}</li>
          </ul>
					<p>{% editable_text title390, hint: "a title", format: raw, rows: 1 %}
						Pilates is particularly beneficial in the rehabilitation of clients who are post operative/post injury and for muscular and skeletal issues and great for ante and post natal women.{% endeditable_text %}
					</p>
				<h4>{% editable_text title391, hint: "a title", format: raw, rows: 1 %}Classes and prices:{% endeditable_text %}</h4>
					<p>{% editable_text title392, hint: "a title", format: raw, rows: 1 %}
						Mat work Pilates is taught on a one-to-one or small class basis. Each class lasts an hour and all equipment is provided. Class sizes are a maximum of 2 clients ensuring close attention can be paid to each client during the session. One-to-one sessions, can also be shared with a partner or colleague.{% endeditable_text %}
					</p>
          <p>{% editable_text title393, hint: "a title", format: raw, rows: 1 %}
            Mat work classes one-to-one are £50 per hour or £30 per person shared.{% endeditable_text %}
          </p>
          <p>{% editable_text title394, hint: "a title", format: raw, rows: 1 %}
            Pilates reformer equipment sessions are £55 per one-to-one session or £30 each for a shared session.{% endeditable_text %}
          </p>				
				<h4>{% editable_text title395, hint: "a title", format: raw, rows: 1 %}Ante and post natal services{% endeditable_text %}</h4>
					<p>{% editable_text title396, hint: "a title", format: raw, rows: 1 %}
						These again run on a one-to-one or shared session basis. Créche facilities are available subject to a settling in period and extra cost.{% endeditable_text %}
					</p>
					<p>{% editable_text title397, hint: "a title", format: raw, rows: 1 %}
						The benefits include: Improved posture, return of pre-pregnancy muscle tone, prevention of the backache associated with lifting babies and breast feeding.
            {% endeditable_text %}
					</p>
					<p>{% editable_text title398, hint: "a title", format: raw, rows: 1 %}
						Please note that the studio runs an appointment only system. Discounts are available for block bookings, please call or email for details and a class timetable.{% endeditable_text %}
					</p>
					<p>{% editable_text title399, hint: "a title", format: raw, rows: 1 %}
						Please leave your details at The Club reception or email us on studio17pilates@hotmail.co.uk{% endeditable_text %}
					</p>


      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio-17">Pilates with Studio 17</a></li>
          </ul>  
        </div>

         <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">{% editable_text title707, hint: "a title", format: raw, rows: 1 %}Sauna{% endeditable_text %}</h3>
            <p>{% editable_text title708, hint: "a title", format: raw, rows: 1 %}Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu{% endeditable_text %}</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title709, hint: "a title", format: raw, rows: 1 %}Membership offer{% endeditable_text %}</h3>
              <p>{% editable_text title710, hint: "a title", format: raw, rows: 1 %}New members in August can take part in a free studio session Join us!{% endeditable_text %}</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title711, hint: "a title", format: raw, rows: 1 %}Personal training{% endeditable_text %}</h3>
              <p>{% editable_text title712, hint: "a title", format: raw, rows: 1 %}Stay focussed on your goals with a personalised plan from our highly qualified trainers{% endeditable_text %}</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}