{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">{% editable_text title405, hint: "a title", format: raw, rows: 1 %}Sports Therapy{% endeditable_text %}</h1>
        <p>{% editable_text title406, hint: "a title", format: raw, rows: 1 %}
          “Sports Therapy is an aspect of healthcare that is specifically concerned with the prevention of injury and the rehabilitation of the patient to optimum levels of functional, occupational and sports specific fitness, regardless of age and ability.{% endeditable_text %}
        </p>
        <p>{% editable_text title407, hint: "a title", format: raw, rows: 1 %}
          It utilises the principles of sport and exercise sciences incorporating physiological and pathological processes to prepare the participant for training, competition and where applicable, work".{% endeditable_text %}
        </p>
        <h4>{% editable_text title408, hint: "a title", format: raw, rows: 1 %}Josephine Mitchell & <a href="#">Associates</a>{% endeditable_text %}</h4>
 					<p>{% editable_text title409, hint: "a title", format: raw, rows: 1 %}
 						Josie Mitchell BSc (Hons) is a Sports Therapist and a full member of the <a href="http://www.society-of-sports-therapists.org./">www.society-of-sports-therapists.org.</a>{% endeditable_text %}
 					</p>
          <p>{% editable_text title410, hint: "a title", format: raw, rows: 1 %}
            She has twelve years experience as a therapist, seven of which were in a busy physiotherapy and rehabilitation practice with a further two years developing the clinic at the M8 Group, and in the training and management of their rehab team. Working with multi-disciplinary teams has led Josie to develop a holistic approach to assessment, so that individuals understand why their body is hurting as well as helping the, to move more freely.{% endeditable_text %}
          </p>
          <p>{% editable_text title411, hint: "a title", format: raw, rows: 1 %}
            Josie and her team achieve amazing results with both elite athletes and people from all walks of life. Their focus is not simply to treat the symptoms, but to identify the cause of the problem in a realistic way, which is specific to each individual. Where appropriate they will offer referral for specialist/alternative advice and intervention.{% endeditable_text %}
          </p>
          <p>{% editable_text title412, hint: "a title", format: raw, rows: 1 %}
            Their aim is to EDUCATE, MOTIVATE and REHABILITATE every individual to optimum levels of function through the use of proper assessment, deep tissue massage, myofascial release, manual therapy, rehabilitation exercises, stretching techniques and gait analysis. They may use dry needling techniques in her treatment and also real time ultrasound in determining whether the deep muscles in the trunk are working.{% endeditable_text %}
          </p>
          <p>{% editable_text title413, hint: "a title", format: raw, rows: 1 %}
            A comprehensive history will be taken from you, and depending on the nature of your problem, there will usually be a head to toe assessment. Sometimes it is necessary to perform a gait analysis. A diagnosis is then given along with a treatment plan so that you are aware of how well you are progressing.{% endeditable_text %}
          </p>
          <p>{% editable_text title414, hint: "a title", format: raw, rows: 1 %}
            <a href="#">CLICK HERE</a> for background of Josie's Associates - Aga Waszkielis and Mauro Scudallero, {% endeditable_text %}
          </p>
				<h4>{% editable_text title415, hint: "a title", format: raw, rows: 1 %}What to wear
        {% endeditable_text %}</h4>
					<p>{% editable_text title416, hint: "a title", format: raw, rows: 1 %}
						As it is usually essential for a therapist to see the body in order to provide a comprehensive assessment, it is recommended that you wear shorts unless you are comfortable in your underwear.{% endeditable_text %}
					</p>
				<h4>{% editable_text title417, hint: "a title", format: raw, rows: 1 %}What to bring{% endeditable_text %}</h4>
					<p>{% editable_text title418, hint: "a title", format: raw, rows: 1 %}
						Any X-rays or MRIs or test results in connection with for your injury should be brought with you. You should also bring your trainers if appropriate and also a pair of your favourite shoes that are worn in so that your gait patterns can be analysed.{% endeditable_text %}
					</p>
					<p>{% editable_text title419, hint: "a title", format: raw, rows: 1 %}
						Please feel free to call if you have any queries on 07976 202 766.
            {% endeditable_text %}
					</p>
				


      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

         <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">{% editable_text title719, hint: "a title", format: raw, rows: 1 %}Sauna{% endeditable_text %}</h3>
            <p>{% editable_text title720, hint: "a title", format: raw, rows: 1 %}Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu{% endeditable_text %}</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title721, hint: "a title", format: raw, rows: 1 %}Membership offer{% endeditable_text %}</h3>
              <p>{% editable_text title722, hint: "a title", format: raw, rows: 1 %}New members in August can take part in a free studio session Join us!{% endeditable_text %}</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title723, hint: "a title", format: raw, rows: 1 %}Personal training{% endeditable_text %}</h3>
              <p>{% editable_text title724, hint: "a title", format: raw, rows: 1 %}Stay focussed on your goals with a personalised plan from our highly qualified trainers{% endeditable_text %}</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}