{% extends parent %}

{% block main_content %}
<div class="landing-bg"></div>
<div class="container landing">
  <div class="row row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
      <ul class="slides">
        <li>
          {{ 'landing-slider-1.jpg' | theme_image_tag: 'alt:main-slider' }}
          <div class="flex-caption">
              <div class="title">Enjoy</div>
              <div class="caption">wile away the stresses of the day in the mood lit pool</div>
          </div>
        </li>

        <li>
          {{ 'landing-slider-2.jpg' | theme_image_tag: 'alt:main-slider' }}
          <div class="flex-caption">
              <div class="title">Relax</div>
              <div class="caption">wile away the stresses of the day in the mood lit pool</div>
        </div>
        </li>

      </ul>
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">



      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="landing-content">
        <h1 class="landing-page-heading">{% editable_text title153, hint: "a title", format: raw, rows: 1 %}Beauty & Spa Treatments{% endeditable_text %}</h1>
        <h4>{% editable_text title154, hint: "a title", format: raw, rows: 1 %}Introduction{% endeditable_text %}</h4>
        <p>{% editable_text title155, hint: "a title", format: raw, rows: 1 %}
          In body and beauty therapy, in massage and in clinical therapy, The Hogarth Spa offers a comprehensive range of treatments to relax and restore you. Our committed team of experts is ready to consult with you, to recommend, to resolve.
          {% endeditable_text %}
        </p>
        </div>
      <div class="underneath" data-set="landing-nav"></div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="landing-content">
        <h4>{% editable_text title156, hint: "a title", format: raw, rows: 1 %}Opening Hours{% endeditable_text %}</h4>
        <p>{% editable_text title157, hint: "a title", format: raw, rows: 1 %}
          Monday to Friday from 8am to 9pm, Saturday 10am to 6pm and one Sunday per month (please ask at reception).{% endeditable_text %}
        </p>

        <h4>{% editable_text title158, hint: "a title", format: raw, rows: 1 %}Contact The Hogarth Beauty Spa{% endeditable_text %}</h4>
        <p>{% editable_text title159, hint: "a title", format: raw, rows: 1 %}
          Telephone 020 8995 4600 to arrange an appointment.{% endeditable_text %}
        </p>

        <h4>{% editable_text title160, hint: "a title", format: raw, rows: 1 %}What if I am late for my appointment?{% endeditable_text %}</h4>
        <p>{% editable_text title161, hint: "a title", format: raw, rows: 1 %}
        Arriving late will simply reduce the time for your treatment, potentially reducing its effectiveness and your pleasure. Your treatment will end on time so that our next client is not delayed.{% endeditable_text %}
        </p>

        <h4>{% editable_text title162, hint: "a title", format: raw, rows: 1 %}Cancellation Policy{% endeditable_text %}</h4>
        <p>{% editable_text title163, hint: "a title", format: raw, rows: 1 %}
          Clients who do not cancel treatments 24 hours in advance of the scheduled appointment time will be charged the full amount. We would still appreciate a call so that we can offer the appointment to another client.{% endeditable_text %}
        </p>
      </div>
    </div>

        
    </div>
  </div>
</div>
  <!-- END Promo panel -->
  {% endblock %}
