{% extends parent %}

{% block main_content %}
<div class="landing-bg"></div>
<div class="container landing">
  <div class="row row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
      <ul class="slides">
        <li>
          {{ 'landing-slider-1.jpg' | theme_image_tag: 'alt:main-slider' }}
          <div class="flex-caption">
              <div class="title">{% editable_text title661, hint: "a title", format: raw, rows: 1 %}Enjoy{% endeditable_text %}</div>
              <div class="caption">{% editable_text title662, hint: "a title", format: raw, rows: 1 %}wile away the stresses of the day in the mood lit pool{% endeditable_text %}</div>
          </div>
        </li>

        <li>
          {{ 'landing-slider-2.jpg' | theme_image_tag: 'alt:main-slider' }}
          <div class="flex-caption">
              <div class="title">{% editable_text title663, hint: "a title", format: raw, rows: 1 %}Relax{% endeditable_text %}</div>
              <div class="caption">{% editable_text title664, hint: "a title", format: raw, rows: 1 %}wile away the stresses of the day in the mood lit pool{% endeditable_text %}</div>
        </div>
        </li>

      </ul>
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">



      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="landing-content">
        <h1 class="landing-page-heading">{% editable_text title145, hint: "a title", format: raw, rows: 1 %}Clinical Treatments{% endeditable_text %}</h1>
        <p>{% editable_text title146, hint: "a title", format: raw, rows: 1 %}
          The Hogarth Clinic boasts a myriad of different therapists and therapies. Many of our therapists are considered world leaders in their field with years of training and experience behind them.{% endeditable_text %}
        </p>
        </div>
      <div class="underneath" data-set="landing-nav"></div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="landing-content">
        <h4>{% editable_text title147, hint: "a title", format: raw, rows: 1 %}What if I am late for my appointment?{% endeditable_text %}</h4>
        <p>{% editable_text title148, hint: "a title", format: raw, rows: 1 %}
          Arriving late will simply reduce the time for your treatment, potentially reducing its effectiveness and your pleasure. Your treatment will end on time so that our next client is not delayed.{% endeditable_text %}
        </p>

        <h4>{% editable_text title149, hint: "a title", format: raw, rows: 1 %}Cancellation Policy{% endeditable_text %}</h4>
        <p>{% editable_text title150, hint: "a title", format: raw, rows: 1 %}
          Clients who do not cancel treatments 24 hours in advance of the scheduled appointment time will be charged the full amount. We would still appreciate a call so that we can offer the appointment to another client.{% endeditable_text %}
        </p>

        <h4>{% editable_text title151, hint: "a title", format: raw, rows: 1 %}Contact The Hogarth Clinic{% endeditable_text %}</h4>
        <p>{% editable_text title152, hint: "a title", format: raw, rows: 1 %}
          Telephone 020 8742 7423 to arrange an appointment.{% endeditable_text %}
        </p>
      </div>
    </div>

        
    </div>
  </div>
</div>
  <!-- END Promo panel -->
  {% endblock %}
