---
title: Content type template
slug: content_type_template
listed: true
published: true
cache_strategy: none
response_type: text/html
content_type: sections
---
{% extends parent %}

{% block main %}
<div class="landing-bg"></div>
	<div class="container landing">
		
  </div>
{% endblock %}