{% extends parent %}

{% block main_content %}
<div class="landing-bg"></div>
<div class="container landing">
  <div class="row row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
      <ul class="slides">
        <li>
          {{ 'landing-slider-1.jpg' | theme_image_tag: 'alt:main-slider' }}
          <div class="flex-caption">
              <div class="title">{% editable_text title647, hint: "a title", format: raw, rows: 1 %}Enjoy{% endeditable_text %}</div>
              <div class="caption">{% editable_text title648, hint: "a title", format: raw, rows: 1 %}wile away the stresses of the day in the mood lit pool{% endeditable_text %}</div>
          </div>
        </li>

        <li>
          {{ 'landing-slider-2.jpg' | theme_image_tag: 'alt:main-slider' }}
          <div class="flex-caption">
              <div class="title">{% editable_text title649, hint: "a title", format: raw, rows: 1 %}Relax{% endeditable_text %}</div>
              <div class="caption">{% editable_text title650, hint: "a title", format: raw, rows: 1 %}wile away the stresses of the day in the mood lit pool{% endeditable_text %}</div>
        </div>
        </li>

      </ul>
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="landing-content">
        <h1 class="landing-page-heading">{% editable_text title20, hint: "a title", format: raw, rows: 1 %}TENNIS{% endeditable_text %}</h1>

        <p>{% editable_text title21, hint: "a title", format: raw, rows: 1 %}
          The Hogarth Health Club provides tennis players with a comprehensive range of both social and competitive activities for all levels of play.{% endeditable_text %}
        </p>

        <p>{% editable_text title22, hint: "a title", format: raw, rows: 1 %}
         There is a real community feel, in a very relaxed environment. In the summer the Club runs tennis club nights during the evening for social players who wish to meet other players and to enjoy a game.{% endeditable_text %}
        </p>

        <p>{% editable_text title23, hint: "a title", format: raw, rows: 1 %}
          The Club has two high quality all weather courts that are available for play during daylight hours. Courts can be booked at reception up to a week in advance, bookings are made hourly, on the hour.{% endeditable_text %}
        </p>

        <p>{% editable_text title24, hint: "a title", format: raw, rows: 1 %}
          There is no charge for court bookings, however, we do ask that you cancel your court at least 24 hours in advance if unable to play.{% endeditable_text %}
        <p>
      </div>
      <div class="underneath" data-set="landing-nav"></div>
    </div>


    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="landing-content">
        <h4>{% editable_text title25, hint: "a title", format: raw, rows: 1 %}Tennis Mornings{% endeditable_text %}</h4>
        <p>{% editable_text title26, hint: "a title", format: raw, rows: 1 %}Berj’s - Tuesday 10-12pm.{% endeditable_text %}</P>
        <p>{% editable_text title27, hint: "a title", format: raw, rows: 1 %}Jose’s - Thursday 9-11am.{% endeditable_text %}</p>
        <p>{% editable_text title28, hint: "a title", format: raw, rows: 1 %}Please book at reception. £9 per person, payable to the coach.{% endeditable_text %}</p>
     
        <h4>{% editable_text title829, hint: "a title", format: raw, rows: 1 %}NEW - Absolute Beginners{% endeditable_text %}</h4>
        <p>{% editable_text title29, hint: "a title", format: raw, rows: 1 %}
          New Absolute Beginners Tennis classes are on every Wednesday 11am-12pm and 12pm-1pm with a max of 6 people per group. Cost is £10 per person per lesson. Book your place ahead at reception.{% endeditable_text %}
        </P>
        <p>{% editable_text title30, hint: "a title", format: raw, rows: 1 %}
          As tennis mornings are very popular and get booked up very quickly we would ask that if you are unable to attend, you let us know so we can offer the space to someone on the reserve list!{% endeditable_text %}
        </p>

        <h4>{% editable_text title31, hint: "a title", format: raw, rows: 1 %}Club Nights{% endeditable_text %}</h4>
        <p>{% editable_text title32, hint: "a title", format: raw, rows: 1 %}
          Tennis Club nights typically run from the beginning of May through to September each year. They are held on Tuesday and Wednesday nights from 6-9pm. There will be two sessions, one from 6-7.30pm and one from 7.30-9pm. These classes will operate on a first come first served basis, there will be a sign in sheet and an £9 fee payable to Berj.{% endeditable_text %}
        </p>

        <h4>{% editable_text title33, hint: "a title", format: raw, rows: 1 %}Club Tournament - Finals September 2013{% endeditable_text %}</h4>
        <p>{% editable_text title34, hint: "a title", format: raw, rows: 1 %}
          Following the success of last year's Hogarth Tennis Tournament this year's championships will be run along similar lines with Singles and Doubles formats for both Men and Ladies plus a Mixed event. Those losing in the first round will be entered into a 'Plate Event' (should they wish) and the plate finals will run parallel to the main finals.{% endeditable_text %}
        </P>
        <p>{% editable_text title35, hint: "a title", format: raw, rows: 1 %}
          Watch this space for your opportunity to sign up on line for this event.
          {% endeditable_text %}
        </p>
        <p>{% editable_text title36, hint: "a title", format: raw, rows: 1 %}
          Whether you are included in the draw or not please do come along and support the players throughout their matches and of course, on Finals Day.
          {% endeditable_text %}
        </p>
    
        <h4>{% editable_text title37, hint: "a title", format: raw, rows: 1 %}Tennis Round Robins{% endeditable_text %}</h4>
        <p>{% editable_text title38, hint: "a title", format: raw, rows: 1 %}
          Round Robins are ran on the last Sunday of every month during the summer by Luke. These typically run from 1-4pm. The entry fee is £9 and you can sign up at reception.{% endeditable_text %}
        </P>
    
        <h4>{% editable_text title39, hint: "a title", format: raw, rows: 1 %}Tennis Coaching{% endeditable_text %}</h4>
        <p>{% editable_text title40, hint: "a title", format: raw, rows: 1 %}
          Both Berj and Jose are tennis professionals and they offer private coaching at £35 per hour. Their contact details can be obtained through reception.
          {% endeditable_text %}
        </P>
  

        <h4>{% editable_text title41, hint: "a title", format: raw, rows: 1 %}Terms and Conditions for booking Tennis and Squash courts{% endeditable_text %}</h4>
        <ul>
        <li>{% editable_text title42, hint: "a title", format: raw, rows: 1 %}
          1/ Tennis and Squash courts may be booked 7 days in advance either in person or over the phone according to the times their membership permits them access to the club.{% endeditable_text %}
        </li>
         <li>{% editable_text title43, hint: "a title", format: raw, rows: 1 %}
          2/ A member may book a maximum of 1 court at a time. If another court is required then we require the name of your partner who must also be a member.{% endeditable_text %}
        </li>
         <li>{% editable_text title44, hint: "a title", format: raw, rows: 1 %}
          3/ All members must report to Reception on arrival at the Club prior to going on to court to confirm their attendance and use of the court. Failure to do so could result in the booking being recorded as a ‘no-show’.{% endeditable_text %}
        </li>
         
         <li>{% editable_text title45, hint: "a title", format: raw, rows: 1 %}
          5/ We require a minimum of 24 hours notice for a court to be cancelled unless mitigating circumstances exist.{% endeditable_text %}
        </li>
         <li>{% editable_text title46, hint: "a title", format: raw, rows: 1 %}
          5/ The member who has made the booking must be present on court at the time it is booked for play. Court bookings cannot be transferred to other members without being updated on the Club’s booking system.{% endeditable_text %}
        </li>
         <li>{% editable_text title47, hint: "a title", format: raw, rows: 1 %}
          6/ If a member does not show up within 15 minutes of the start of the court booking time, the court will be made available for any member to use on a ‘walk-on’ basis in accordance with their terms and conditions of membership access. To book a ‘walk-on’ court a member will report to Reception and enquire about any courts that are available and if so, the court will be booked in their name.{% endeditable_text %}
        </li>
        <li>{% editable_text title48, hint: "a title", format: raw, rows: 1 %}
          The above terms and conditions will be reviewed from time to time to take in to consideration member feedback, usage trends and are at all times subject to Management’s discretion. Thank you for helping us to safeguard booking integrity.
          {% endeditable_text %}
        </li>
      </ul>
      </div>
    </div>
     
</div>
  </div> 
</div>
{% endblock %}
