{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">{% editable_text title443, hint: "a title", format: raw, rows: 1 %}Beauty & Spa Treatments{% endeditable_text %}</h1>
        <h4>{% editable_text title444, hint: "a title", format: raw, rows: 1 %}Introduction{% endeditable_text %}</h4>
 					<p>{% editable_text title445, hint: "a title", format: raw, rows: 1 %}
 						In body and beauty therapy, in massage and in clinical therapy, The Hogarth Spa offers a comprehensive range of treatments to relax and restore you. Our committed team of experts is ready to consult with you, to recommend, to resolve.{% endeditable_text %}
 					</p>
				<h4>{% editable_text title446, hint: "a title", format: raw, rows: 1 %}Opening Hours{% endeditable_text %}</h4>
					<p>{% editable_text title447, hint: "a title", format: raw, rows: 1 %}
						Monday to Friday from 8am to 9pm, Saturday 10am to 6pm and one Sunday per month (please ask at reception).{% endeditable_text %}
					</p>
				<h4>{% editable_text title448, hint: "a title", format: raw, rows: 1 %}Contact The Hogarth Beauty Spa{% endeditable_text %}</h4>
					<p>{% editable_text title449, hint: "a title", format: raw, rows: 1 %}
						Telephone 020 8995 4600 to arrange an appointment.{% endeditable_text %}
					</p>
				<h4>{% editable_text title450, hint: "a title", format: raw, rows: 1 %}What if I am late for my appointment?{% endeditable_text %}</h4>
					<p>{% editable_text title451, hint: "a title", format: raw, rows: 1 %}
						Arriving late will simply reduce the time for your treatment, potentially reducing its effectiveness and your pleasure. Your treatment will end on time so that our next client is not delayed.{% endeditable_text %}
					</p>
				<h4>{% editable_text title452, hint: "a title", format: raw, rows: 1 %}Cancellation Policy{% endeditable_text %}</h4>
					<p>{% editable_text title453, hint: "a title", format: raw, rows: 1 %}
						Clients who do not cancel treatments 24 hours in advance of the scheduled appointment time will be charged the full amount. We would still appreciate a call so that we can offer the appointment to another client.{% endeditable_text %}
					</p>
					<p>{% editable_text title454, hint: "a title", format: raw, rows: 1 %}
						e.&o.e.{% endeditable_text %}
					</p>
				
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">{% editable_text title741, hint: "a title", format: raw, rows: 1 %}Sauna{% endeditable_text %}</h3>
            <p>{% editable_text title742, hint: "a title", format: raw, rows: 1 %}Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu{% endeditable_text %}</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title743, hint: "a title", format: raw, rows: 1 %}Membership offer{% endeditable_text %}</h3>
              <p>{% editable_text title744, hint: "a title", format: raw, rows: 1 %}New members in August can take part in a free studio session Join us!{% endeditable_text %}</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title745, hint: "a title", format: raw, rows: 1 %}Personal training{% endeditable_text %}</h3>
              <p>{% editable_text title746, hint: "a title", format: raw, rows: 1 %}Stay focussed on your goals with a personalised plan from our highly qualified trainers{% endeditable_text %}</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}