{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
      {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">{% editable_text title424, hint: "a title", format: raw, rows: 1 %}Beauty Products{% endeditable_text %}</h1>
        <p>{% editable_text title425, hint: "a title", format: raw, rows: 1 %}
          Having selected choice brands from around the world for our treatments, Hogarth Spa clients can purchase retail stock directly from the club at highly competitive prices.{% endeditable_text %}
        </p>
        <p>{% editable_text title426, hint: "a title", format: raw, rows: 1 %}
          Here are a selection of the latest products available.{% endeditable_text %}
        </p>
          <h4>{% editable_text title427, hint: "a title", format: raw, rows: 1 %}Women's Products{% endeditable_text %}</h4>
        <p>{% editable_text title428, hint: "a title", format: raw, rows: 1 %}
          Multivitamin thermafoliant: this is a powerful skin polisher with age fighting vitamins. It heats up upon contact with skin.{% endeditable_text %}
        </p>
        <p>{% editable_text title429, hint: "a title", format: raw, rows: 1 %}
          We have just received the new, ultra-calming range of products from Dermalogica. The ingredients include ginger extract, oat kernal and red hogweed. These are good for skins that sometimes experience itching, burning, stinging and redness. The ultra-calming range will help to reduce redness while soothing irritation, giving lasting relief.{% endeditable_text %}
        </p>
         <p>{% editable_text title430, hint: "a title", format: raw, rows: 1 %}Products include:{% endeditable_text %}</p>
         <ul>
           <li>{% editable_text title431, hint: "a title", format: raw, rows: 1 %}
            Ultra-calming cleanser{% endeditable_text %}
           </li>
            <li>{% editable_text title432, hint: "a title", format: raw, rows: 1 %}
              Ultra-calming mist{% endeditable_text %}
           </li>
            <li>{% editable_text title433, hint: "a title", format: raw, rows: 1 %}
              Ultra-calming serum concentrate{% endeditable_text %}
           </li>
           <li>{% editable_text title434, hint: "a title", format: raw, rows: 1 %}
              Ultra-calming relief masque{% endeditable_text %}
           </li>
         </ul>
          <h4>{% editable_text title435, hint: "a title", format: raw, rows: 1 %}Men's Products{% endeditable_text %}</h4>
          <p>{% editable_text title436, hint: "a title", format: raw, rows: 1 %}
            Daily clean scrub: exfoliating cleanser that removes dulling surface debris and helps to lift the beard for a close shave. {% endeditable_text %}
          </p>
           <p>{% editable_text title437, hint: "a title", format: raw, rows: 1 %}
            Pre-shave guard: Preps skin for shaving and especially good for heavy course beards. {% endeditable_text %}
          </p>
           <p>{% editable_text title438, hint: "a title", format: raw, rows: 1 %}
            Soothing shave cream: great lubrication cream for dry and sensitive skin. Gives a close shave. {% endeditable_text %}
          </p>
           <p>{% editable_text title439, hint: "a title", format: raw, rows: 1 %}
            Invigorating shave gel: Delivers a close shave for oily skins. Soothes cools and softens.{% endeditable_text %} 
          </p>
           <p>{% editable_text title440, hint: "a title", format: raw, rows: 1 %}
            Close shave oil: This acts as a cushion between the skin and razor leaving it ultra smooth.{% endeditable_text %}
          </p>
           <p>{% editable_text title441, hint: "a title", format: raw, rows: 1 %}
            Post shave balm: reduces discomfort and redness on skin. Moisturises and soothes and shortens post shave recovery time.{% endeditable_text %}
          </p>
           <p>{% editable_text title442, hint: "a title", format: raw, rows: 1 %}
            Daily defence block spf 15: Light weight formula. Conditions skin and promotes skin recovery. Beats dryness and leaves shine free and healthy skin.{% endeditable_text %}
          </p>
                                       
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio-17">Pilates with Studio 17</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">{% editable_text title735, hint: "a title", format: raw, rows: 1 %}Sauna{% endeditable_text %}</h3>
            <p>{% editable_text title736, hint: "a title", format: raw, rows: 1 %}Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu{% endeditable_text %}</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title737, hint: "a title", format: raw, rows: 1 %}Membership offer{% endeditable_text %}</h3>
              <p>{% editable_text title738, hint: "a title", format: raw, rows: 1 %}New members in August can take part in a free studio session Join us!{% endeditable_text %}</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title739, hint: "a title", format: raw, rows: 1 %}Personal training{% endeditable_text %}</h3>
              <p>{% editable_text title740, hint: "a title", format: raw, rows: 1 %}Stay focussed on your goals with a personalised plan from our highly qualified trainers{% endeditable_text %}</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}