{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">{% editable_text title455, hint: "a title", format: raw, rows: 1 %}Caci Quantum{% endeditable_text %}</h1>
 					<p>{% editable_text title456, hint: "a title", format: raw, rows: 1 %}
 						Micro current facial toning therapy that improves the tone of your facial muscles resulting in a non surgical face lift. As we grow older our facial muscles naturally start to lose tone and elasticity. Genetics, lifestyle, weight fluctuation and environmental factors can all influence the rate and degree to which our muscles will lose their tone.{% endeditable_text %}
 					</p>
          <p>{% editable_text title457, hint: "a title", format: raw, rows: 1 %}
            Following 20 years of research and development CACI international can now offer a non surgical solution to combat loss of muscle tone using CACI micro current facial toning therapy.{% endeditable_text %}
          </p>
				<h4>{% editable_text title458, hint: "a title", format: raw, rows: 1 %}Caci Face Treatment{% endeditable_text %}</h4>
					<p>{% editable_text title459, hint: "a title", format: raw, rows: 1 %}Single session{% endeditable_text %}</p>          
          <p>{% editable_text title460, hint: "a title", format: raw, rows: 1 %}Allow 1hr 15min £55{% endeditable_text %}</p>
          <p>{% editable_text title461, hint: "a title", format: raw, rows: 1 %}Course of 10 treatments £460{% endeditable_text %}</p>
          <p>{% editable_text title462, hint: "a title", format: raw, rows: 1 %}Course of 5 treatments £240{% endeditable_text %}</p>
					<p>{% editable_text title463, hint: "a title", format: raw, rows: 1 %}Please ask your therapist about the various CACI treatment options available. CACI treatments are most effective when taken as a course.{% endeditable_text %}</p>
				<h4>{% editable_text title464, hint: "a title", format: raw, rows: 1 %}Super Caci treatment. Allow 1 hour and 45 minutes. £85{% endeditable_text %}</h4>
					<p>{% editable_text title465, hint: "a title", format: raw, rows: 1 %}
						This treatment combines microdermabrasion with our caci micro current machine to help treat fine lines and wrinkles by gently exfoliating the outer layers of the skin. Your skin will feel visibly smoother and more rejuvenated.
            {% endeditable_text %}
					</p>
					<p>{% editable_text title466, hint: "a title", format: raw, rows: 1 %}
          e.&o.e{% endeditable_text %}
          <p>
									          
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio-17">Pilates with Studio 17</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>

        </div>
      </div>

    </div><!-- Container and row -->
  </div> 



  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>
          
      </div>

    </div>
  </div>
  <!-- END Promo panel -->

{% endblock %}