{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">{% editable_text title482, hint: "a title", format: raw, rows: 1 %}Facials{% endeditable_text %}</h1>
 					<p>{% editable_text title483, hint: "a title", format: raw, rows: 1 %}
 						At The Hogarth we provide the very best in facial care, providing a choice of three top brands: Sothys, Dermalogica and Voya. {% endeditable_text %}
 					</p>
				<h4>{% editable_text title484, hint: "a title", format: raw, rows: 1 %}DERMALOGICA
        {% endeditable_text %}</h4>
					<p>{% editable_text title485, hint: "a title", format: raw, rows: 1 %}
						These treatments combine the latest in skin analysis techniques with the proven results of Chinese Diagnosis. The Face Mapping procedures provides you with an objective view of the skin’s condition, as well as an indication of the underlying issues that might be effecting it.{% endeditable_text %}
					</p>
          <p>{% editable_text title486, hint: "a title", format: raw, rows: 1 %}
            "The day skin changed forever"{% endeditable_text %}
          </p>
          <p>{% editable_text title487, hint: "a title", format: raw, rows: 1 %}
            When dermalogica meets skin, skin health is redefined. Our promise to you is that your skin will never have felt as clean or as healthy as after one of our professional treatments.{% endeditable_text %}
          </p>
				<h4>{% editable_text title488, hint: "a title", format: raw, rows: 1 %}Dermalogica Facial Treatment Allow 1hr £58{% endeditable_text %}</h4>
					<p>{% editable_text title489, hint: "a title", format: raw, rows: 1 %}
						The dermalogica skin treatment is 100% customised to your skin’s needs based on a consultation and skin examination. Each professional treatment includes a double cleanse, exfoliation, steam and extraction, massage, mask and skin protection. You will receive a hand, foot or scalp massage while your mask is on.{% endeditable_text %}
					</p>
				<h4>{% editable_text title490, hint: "a title", format: raw, rows: 1 %}Express Facial Treatment Allow 30min £38{% endeditable_text %}</h4>
					<p>{% editable_text title491, hint: "a title", format: raw, rows: 1 %}
						This facial is designed as an introduction to dermalogica. We will start with a double cleanse, exfoliation, steam and a prescription mask and skin protection. This facial is perfect for people on the go.{% endeditable_text %}
					</p>
        <h4>{% editable_text title492, hint: "a title", format: raw, rows: 1 %}As dermalogica professionals we may choose from the following dermalogica lines to create the ultimate skin result:{% endeditable_text %}</h4>
				<h4>{% editable_text title4922, hint: "a title", format: raw, rows: 1 %}Medibac clearing treatment – acne clearing facial. Allow 1hr £58
        {% endeditable_text %}</h4>
					<p>{% editable_text title493, hint: "a title", format: raw, rows: 1 %}
						It's the end of the road for adult acne with this powerful line of products that will jump start acne clearing and help prevent acne well beyond the treatment.{% endeditable_text %}</p>
					<h4>{% editable_text title494, hint: "a title", format: raw, rows: 1 %}Age Smart treatment – anti ageing facial.Allow 1hr £58{% endeditable_text %}</h4>
					<p>{% editable_text title495, hint: "a title", format: raw, rows: 1 %}
						Are the signs of ageing more prevalent on your skin ? Age Smart will give it a revitalising power boost to firm, smooth, nourish, regenerate and energise while controlling the biochemical triggers that lead to skin ageing.
            {% endeditable_text %}
					</p>
				<h4>{% editable_text title496, hint: "a title", format: raw, rows: 1 %}Ultra Calming treatment – calming facial. Allow 1hr £58{% endeditable_text %}</h4>
					<p>{% editable_text title497, hint: "a title", format: raw, rows: 1 %}
						UltraCalming facial treatment. Allow 1 hour £55 Serious relief for sensitised skin that calms soothes and replenishes aggravated, irritated and inflamed skins.{% endeditable_text %}
					</p>
				<h4>{% editable_text title498, hint: "a title", format: raw, rows: 1 %}Chromowhite TRx treatment – skin brightening facial. Allow 1hr £58{% endeditable_text %}</h4>
					<p>{% editable_text title499, hint: "a title", format: raw, rows: 1 %}
						Accelerate brightening, improve skin tone, enhance skin clarity and create a fresher, healthier appearance with this effective treatment. Powerful exfoliants smooth skin and slough off dulling surface cells, helping to minimize the appearance of sun and age spots. Botanical extracts help treat and prevent cellular discolouration for unsurpassed brightening and tonal balance. Intense moisturisation helps smooth fine dryness lines, improve barrier protection, nourish skin and shield against further environmental damage.{% endeditable_text %}
					</p>
          <h4>{% editable_text title500, hint: "a title", format: raw, rows: 1 %}Accelerator 35 facial. Allow 45 minutes. £50{% endeditable_text %}</h4>
					<p>{% editable_text title10, hint: "a title", format: raw, rows: 1 %}
            Looking for dramatic results fast? Active resurface 35 provides intensive resurfacing for ultra smooth skin.{% endeditable_text %}
					</p>
          <p>{% editable_text title501, hint: "a title", format: raw, rows: 1 %}
            Specifically designed for advanced skin care users who need the ultimate in active treatment. Targets a range of skin care concerns from premature ageing to pigmentation and scaring.{% endeditable_text %}
          </p>
          <h4>{% editable_text title502, hint: "a title", format: raw, rows: 1 %}SOTHYS OF PARIS {% endeditable_text %}</h4>
          <p>{% editable_text title503, hint: "a title", format: raw, rows: 1 %}
            We use the exclusive Sothys of Paris products that maximise the natural beauty of any skin type. In order for us to determine the best Sothys facial for your skin type we recommend that you book an extra 15 minutes with your first facial. {% endeditable_text %}
          </p>

          <h4>{% editable_text title504, hint: "a title", format: raw, rows: 1 %}Hydrovance - Pure hydration Allow 1hr £58{% endeditable_text %}</h4>
            <p>{% editable_text title505, hint: "a title", format: raw, rows: 1 %}
              Relief from persistent dehydration is instantly achieved during this facial. It revitalises your skin and helps to reduce the first signs of ageing. We use cosmeceutical ingredients for deeper hydration to the skin.{% endeditable_text %}
            </p>

          <h4>{% editable_text title506, hint: "a title", format: raw, rows: 1 %}Collagen Hyaluronique Allow 1hr and 15mins £66{% endeditable_text %}</h4>
            <p>{% editable_text title507, hint: "a title", format: raw, rows: 1 %}
              This intense treatment combines Sothys cosmeceutical complex with major anti-age active substances meeting the specific needs of various stages of ageing. A targeted and effective response for radiant, youthful skin.
              {% endeditable_text %}
            </p>
          <h4>{% editable_text title508, hint: "a title", format: raw, rows: 1 %}Immuniscience - Gentle and soft Allow 1 hr £58{% endeditable_text %}</h4>
            <p>{% editable_text title509, hint: "a title", format: raw, rows: 1 %}
              We often experience skin sensitivity during times of stress. This kind and gentle facial is ideal for those of us who wish to relax and have concerns about sensitive skin.{% endeditable_text %}
            </p>
          <h4>{% editable_text title510, hint: "a title", format: raw, rows: 1 %}Active Eye Contour Treatment Allow 30min £38{% endeditable_text %}</h4>
          <p>{% editable_text title511, hint: "a title", format: raw, rows: 1 %}
            A triple action treatment targeting the appearance of wrinkles, circles and bags around this delicate area.{% endeditable_text %}
          </p>
          <h4>{% editable_text title512, hint: "a title", format: raw, rows: 1 %}Sothys Resurfacing, Peeling treatment Allow 1 hr £58{% endeditable_text %}</h4>
          <p>{% editable_text title513, hint: "a title", format: raw, rows: 1 %}
            This facial uses 20% glycolic acid and micro-crystals of corundum to eliminate dead cells and stimulate cell renewal. This facial is recommended for oily, dull, tired and dry skins. It is also good for people concerned with wrinkles and fine lines. After just one treatment your skin will feel smooth, radiant and soft. Certain skin conditions may not be suitable so if in doubt please book a complimentary skin consultation.{% endeditable_text %}
          </p>
          <p>{% editable_text title514, hint: "a title", format: raw, rows: 1 %}
            hoose from a Glycolic Peel Facial for a double exfoliation or Flash Beauty Express Facial.{% endeditable_text %}
          </p>
          <p>{% editable_text title515, hint: "a title", format: raw, rows: 1 %}
            e.&o.e.{% endeditable_text %}
          </p>
          
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">{% editable_text title771, hint: "a title", format: raw, rows: 1 %}Sauna{% endeditable_text %}</h3>
            <p>{% editable_text title772, hint: "a title", format: raw, rows: 1 %}Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu{% endeditable_text %}</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title773, hint: "a title", format: raw, rows: 1 %}Membership offer{% endeditable_text %}</h3>
              <p>{% editable_text title774, hint: "a title", format: raw, rows: 1 %}New members in August can take part in a free studio session Join us!{% endeditable_text %}</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title775, hint: "a title", format: raw, rows: 1 %}Personal training{% endeditable_text %}</h3>
              <p>{% editable_text title776, hint: "a title", format: raw, rows: 1 %}Stay focussed on your goals with a personalised plan from our highly qualified trainers{% endeditable_text %}</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}