{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1>{% editable_text title521, hint: "a title", format: raw, rows: 1 %}Fresh Indulgence Spray Tans - tanning without sun{% endeditable_text %}</h1>
        <h4>{% editable_text title522, hint: "a title", format: raw, rows: 1 %}Fresh Indulgence Spray Tans{% endeditable_text %}</h4>        
 					<p>{% editable_text title523, hint: "a title", format: raw, rows: 1 %}
 						We are pleased to announce the launch of our new organic and 100% paraben free spray tans.{% endeditable_text %}
 					</p>
        <h4>{% editable_text title524, hint: "a title", format: raw, rows: 1 %}Revive Anti Aging Tan{% endeditable_text %}</h4>
					<p>{% editable_text title525, hint: "a title", format: raw, rows: 1 %}
						The revive anti-aging tanning solution contains a powerful complex called matrixyl 3000 which has been scientifically proven to reduce wrinkles by 40-60% and sun damage by up to 86%. It is enriched with vitamins E, A and co-enzyme q10. You can choose to tan either light, medium or dark.
            {% endeditable_text %}
					</p>   
          <p>{% editable_text title526, hint: "a title", format: raw, rows: 1 %}
            Revive anti aging tan costs £34.00 and takes approx 30minutes to apply.
            {% endeditable_text %}
          </p>        
				<h4>{% editable_text title527, hint: "a title", format: raw, rows: 1 %}Caribbean Indulgence Tan{% endeditable_text %}</h4>
					<p>{% editable_text title528, hint: "a title", format: raw, rows: 1 %}
						Our Caribbean indulgence solution contains aloe vera juice which is rich in anti oxidants and green tea which provides skin with protective properties granting the skin better protection against the damaging effects of sun exposure. The solution is available in medium and dark.{% endeditable_text %}
					</p>
          <p>{% editable_text title529, hint: "a title", format: raw, rows: 1 %}Caribbean indulgence tan costs £34.00 and takes approx 30 minutes to apply.{% endeditable_text %}</p>
					<p>{% editable_text title530, hint: "a title", format: raw, rows: 1 %}Helpful Tip: Wear dark loose clothing for spray tanning.{% endeditable_text %}</p>
                 
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio-17">Pilates with Studio 17</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">{% editable_text title783, hint: "a title", format: raw, rows: 1 %}Sauna{% endeditable_text %}</h3>
            <p>{% editable_text title784, hint: "a title", format: raw, rows: 1 %}Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu{% endeditable_text %}</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title785, hint: "a title", format: raw, rows: 1 %}Membership offer{% endeditable_text %}</h3>
              <p>{% editable_text title786, hint: "a title", format: raw, rows: 1 %}New members in August can take part in a free studio session Join us!{% endeditable_text %}</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title787, hint: "a title", format: raw, rows: 1 %}Personal training{% endeditable_text %}</h3>
              <p>{% editable_text title788, hint: "a title", format: raw, rows: 1 %}Stay focussed on your goals with a personalised plan from our highly qualified trainers{% endeditable_text %}</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}