{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
      {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1>Holistic Massage Therapy</h1>
          <p>
            Massage has long been understood to be an effective treatment for both stress and muscular stiffness and pain. Massage involves the use of both deep tissue manipulation and a combination of gentler therapies to relax and help release muscular tension, stress, bad posture and headaches. Massage can also help heal injuries such as tendonitis that develop over time, as well as ligament sprains or muscle strains caused by an accident. Massage reduces inflammation by increasing circulation, which removes waste products and brings nutrition to injured cells.
          </p>
        <h4>Shanti Bhoola-Evans</h4>
        <h4>Sports Massage, Deep Tissue Massage, InterX Therapy</h4>
          <p>
            Shanti is a sports massage therapist with over 20 years experience in the health and fitness industry. Her treatments focus on both remedial and conditioning work.
          </p>  
          <p>
            Shanti has a regular client base ranging in age from 14 – 80. Her clients include professional athletes at competition level as well as the recreational athlete and clients suffering from postural aches and pains. Clients use sports massage to enhance and balance their regular training and help keep them injury free.
          </p> 
          <p>
            Treatments offered include Sports Massage, Deep Tissue Massage, Back Pain Treatment, Runners Massage Therapy (90minutes), Re-Balance Holistic Massage (90minutes) and Thermo-Auricular Therapy (Hopi Ear candle). Acupressure and InterX therapy are included in treatments where required.
          </p>          
          <p>
            Whether you are training for a marathon, fun run, skiing, or a martial arts event, Shanti can offer you a treatment which could increase your performance and help keep you injury free. 
          </p> 
          <p>
            Shanti is an affiliated member of the Sports Massage Association (SMA) and has taught ITEC holistic massage at Harrow College. 
          </p>
          <p>
            For further information, testimonials and monthly offers or to book a treatment please see www.bodyinbalance.co.uk  
          </p>
          
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio-17">Pilates with Studio 17</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>

        </div>
      </div>

    </div><!-- Container and row -->
  </div> 



  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>
          
      </div>

    </div>
  </div>
  <!-- END Promo panel -->

{% endblock %}