{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">{% editable_text title568, hint: "a title", format: raw, rows: 1 %}Men's Grooming{% endeditable_text %}</h1>
 					<p>{% editable_text title569, hint: "a title", format: raw, rows: 1 %}
 						The following treatments have been specifically tailored to suit men's skin concerns.{% endeditable_text %}
 					</p>
				<h4>{% editable_text title570, hint: "a title", format: raw, rows: 1 %}Men’s Express Facial Treatment Allow 30min £38{% endeditable_text %}</h4>
					<p>{% editable_text title571, hint: "a title", format: raw, rows: 1 %}
						This treatment is the perfect blend of cleansing, a customised masque and moisturising for people on the go. It also includes massage of the hands or feet.{% endeditable_text %}
					</p>          
				<h4>{% editable_text title572, hint: "a title", format: raw, rows: 1 %}De-Stressing Facial - For Men Allow 1hr £58{% endeditable_text %}</h4>
					<p>{% editable_text title573, hint: "a title", format: raw, rows: 1 %}
						A 60 minute relaxing treatment to reduce tension, stimulate the spirit, regain serenity and concentration. A professional answer targeted to the specific needs of a man’s skin.{% endeditable_text %}
					</p>
				<h4>{% editable_text title574, hint: "a title", format: raw, rows: 1 %}Men's Hand & Nail Grooming Allow 30min £24{% endeditable_text %}</h4>
					<p>{% editable_text title10, hint: "a title", format: raw, rows: 1 %}
						A complete hand and nail treatment using Jessica products to keep your active hands looking and feeling impeccable.{% endeditable_text %}
					</p>
        <h4>{% editable_text title575, hint: "a title", format: raw, rows: 1 %}Men's Pedicure Allow 30 min £24. Allow 45min £32{% endeditable_text %}</h4>
					<p>{% editable_text title576, hint: "a title", format: raw, rows: 1 %}
						A complete foot and leg treatment including a relaxing herbal soak followed by a purifying foot scrub. Nails are cleaned and tidied before finishing with a pampering foot and leg massage.{% endeditable_text %}
          </p>
					<h4>{% editable_text title577, hint: "a title", format: raw, rows: 1 %}Men’s Back Treatment Allow 45min £45{% endeditable_text %}</h4>
					<p>{% editable_text title578, hint: "a title", format: raw, rows: 1 %}
						This treatment starts with a deep cleanse and exfoliation of the back using ground down seaweed, we will then steam the skin on the back and do extractions if needed. We will apply a laminaria seaweed mask and moisturise to finish the treatment.{% endeditable_text %}
					</p>
        <h4>{% editable_text title579, hint: "a title", format: raw, rows: 1 %}Back wax Allow 30min £25{% endeditable_text %}</h4>
				<h4>{% editable_text title580, hint: "a title", format: raw, rows: 1 %}Chest Wax Allow 30 min £25{% endeditable_text %}</h4>
					<p>{% editable_text title581, hint: "a title", format: raw, rows: 1 %}e.&.o.e{% endeditable_text %}</p>
				          
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio-17">Pilates with Studio 17</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>

        </div>
      </div>

    </div><!-- Container and row -->
  </div> 



  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>
          
      </div>

    </div>
  </div>
  <!-- END Promo panel -->

{% endblock %}