

body {color: #605d5d; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; line-height: 1em;}

/* HOME */
/* HOME */

/* Main banner */
.main {margin: 0 auto;}
.flex-caption .title {color: #fff; text-transform: uppercase;font-size: 6em; font-weight: 100; letter-spacing: 0.05em; width: 55%; line-height: 1.3em; display: block;}
.flex-caption .caption {color: #fff;text-transform: uppercase;font-size: 2.3em; font-weight: 100; letter-spacing: 0.05em; width: 55%; line-height: 1.2em;}

/* Tripple pack */
.outer-main {background: url("../images/bg-main-home.jpg") no-repeat center; background-size: cover; min-height: 250px; padding-bottom:40px;}
	.tripple-pack {background: #e3e1e1; display: block; padding: 25px 20px 0px 20px; margin: 0 -5px 0 -5px;}
	.tripple-pack-heading {font-size: 1.65em; line-height:1.3em; margin: 0 0 10px 0; text-transform: uppercase; font-weight: 300; letter-spacing: 0.05em;}
		.tripple-pack-heading a {color: #605d5d;}
		.tripple-pack-heading a:hover {text-decoration: none; border-bottom: 1px solid #605d5d;}
	.tripple-pack p {color: #807d7d; font-size: 1.05em;letter-spacing: 0.02em; font-weight: 300; line-height:1.5em;}
	.tripple-pack-1-img {background: url("../images/tripple-1.jpg") no-repeat center;}
	.tripple-pack-2-img {background: url("../images/tripple-2.jpg") no-repeat center;}
	.tripple-pack-3-img {background: url("../images/tripple-3.jpg") no-repeat center;}
	/* negative margins override bootstrap column widths */
	.tripple-pack-1-img,.tripple-pack-2-img,.tripple-pack-3-img {background-size: cover; min-height: 250px; margin: 0 -5px 0 -5px;}

/* Wide promo panels */
.outer-promo-panel {background: #e8e8e7; padding: 40px 0 0 0;overflow: hidden;}
	.wide-promo {background: #aaa; display: block; margin: 0 -5px 40px -5px;}
	.wide-promo-1 {background: url("../images/wide-1.jpg") no-repeat center; background-size: cover;}
	.wide-promo-2 {background: url("../images/wide-2.jpg") no-repeat center; background-size: cover;}
	.gold {background:#85703c; display: inline-block; padding: 15px; margin: 10px; width: 220px; height: 220px;}
	.gold-heading {font-size: 1.75em; line-height:1.2em; margin: 0 0 10px 0; text-transform: uppercase; font-weight: 100; letter-spacing: 0.07em; color: #fff;}
		.gold-heading a {color: #fff;}
		.gold-heading a:hover {text-decoration: none; border-bottom: 1px solid #fff;}
	.gold p {font-size: 1.05em; color: #fff; letter-spacing: 0.02em; font-weight: 300; line-height:1.5em;}

/* Quick links panel on homepage */
.quick-links-panel {border-top: 1px solid #bbb; padding: 40px 0 40px 0;}
	.quick-links-panel-heading {font-size: 1.4em; margin: 0px; text-transform: uppercase; font-weight: 300; letter-spacing: 0.05em;}
	.quick-links-panel ul {margin: 20px 0; padding: 0px;}
	.quick-links-panel li {padding: 0 0 12px 0;list-style: none;font-size: 1.1em;}
	.quick-links-panel a {font-size: 1em; color: #605d5d; font-weight: 300; line-height: 1.2em;}
	.quick-links-panel a:hover {text-decoration: none; border-bottom: 1px solid #605d5d;}

/* Email sign up popup */
.email-pop {background: #85703c; margin: 0 auto; width: 100%; height: 92px; border-radius: 3px;}
	.email-pop-logo { width: 150px; height: 92px; margin: 0 auto; background: url("../images/logo.png") no-repeat; background-image: url("../images/logo.svg"); background-color: #85703c;}

.mc-field-group {display: block; margin: 0 0 10px 0;}
	.mc-field-group label {width: 150px;}
	.mc-field-group input[type="text"], .mc-field-group input[type="email"] {background: #e8e8e8; height: 30px; border: 0; border-radius: 3px; padding: 5px; width: 60%;}
	.btn-holder {width: 150px; margin: 25px auto 0px auto;}
	.mc-button {background: #85703c; color: #fff; height: 40px; border: 0; border-radius: 3px; padding: 5px; width: 150px; margin: 0 auto; font-size: 1.5em; text-transform: uppercase;}
	.mc-button:hover {background: #6f5c2d;}

	.sign-up {margin: 0 auto; padding: 12px; text-align: left; margin-top: 20px; border-radius: 3px; width: 80%;}
		.sign-up-heading {font-size: 1.4em; margin: 0px; text-transform: uppercase; font-weight: 300; letter-spacing: 0.05em; text-align: center; color: #777;}
		.sign-up-heading span {font-size: 1.8em; display: block; color: #605d5d;}
		.sign-up-sub-heading {font-size: 1em; margin: 20px auto 35px auto; text-transform: uppercase; font-weight: 300; letter-spacing: 0.03em; text-align: center; line-height: 1.2em; color:#999;}
	.sign-up-note {color: #bbb; margin: 20px auto 0 auto; font-size: 0.9em; text-align: center; width: 70%;}
	.asterisk {color: #88713B; font-size: 1.5em; font-weight: 100;}


/* LANDING */
/* LANDING */

.landing-bg {background: url("../images/bg-landing-basic.jpg") #444 no-repeat top center; position: absolute; width: 100%; height: 673px;}
	.landing .flexslider {margin: 135px 0 0 0 ;}
	/* Overrides BS to align the slider under the logo */
	 .row-slider {margin-left: -20px !important;margin-right: -20px !important; min-height: 631px;}
.landing-content {margin: 70px -5px 50px -5px;}
	.landing-page-heading {font-size: 3em; margin: 90px 0 25px 0; text-transform: uppercase; font-weight: 500; letter-spacing: 0.05em;}
	.page-intro {font-size: 1.4em; margin: 0 0 30px 0; font-weight: 200; letter-spacing: 0.03em; line-height: 1.4em; color: #807d7d; display: block;}
	p {font-size: 1em; line-height: 1.6em; color:#807d7d; margin: 20px 0; padding: 0 15px 0 0;}

.standard-promo { display: block; margin: 0 0 23px 0; max-height: 237px;}
	/* Note: This is a temportary solution - remember to speak to Tom; */
	.standard-promo-1 {background: url("../images/landing-promo.jpg") no-repeat center; background-size: cover;}
	.standard-promo-2 {background: url("../images/landing-section-1.jpg") no-repeat center; background-size: cover;}
	.standard-promo-2 {background: url("../images/landing-section-2.jpg") no-repeat center; background-size: cover;}

	.standard-promo-panel {display: inline-block; padding: 15px; margin: 10px; width: 206px; height: 220px;}
		.standard-promo-panel-purple {background: rgba(123,90,157,0.8);}
		.standard-promo-panel-brown {background: rgba(174,125,48,0.8);}
	.standard-promo-panel-heading {font-size: 1.55em; line-height:1.2em; margin: 0 0 10px 0; text-transform: uppercase; font-weight: 100; letter-spacing: 0.07em; color: #fff;}
	.standard-promo-panel p {font-size: 1em; color: #fff; letter-spacing: 0.02em; font-weight: 300; line-height:1.5em;}

.landing-section {display: block; margin: 0 0 23px 0;}
	.landing-section-img img {width: 100%;}
	.landing-section-heading {font-size: 1.65em; line-height:1.2em; margin: 40px 0 10px 0; text-transform: uppercase; font-weight: 300; letter-spacing: 0.07em; color: #605d5d;}
	.landing-section p {font-size: 1em; line-height: 1.6em; color:#807d7d; margin: 20px 0; padding: 0 15px 0 0;}

.inpage-navigation {display: block; margin: 0 0 23px 0; background-color: #f3f1f1; height: 237px; padding: 25px;}
.inpage-navigation-heading {font-size: 1.55em; line-height:1.2em; margin: 0px 0 10px 0; text-transform: uppercase; font-weight: 300; letter-spacing: 0.07em; color: #605d5d;}
.inpage-navigation-ul {margin: 0px; padding: 0px;}
.inpage-navigation-li {list-style: none;text-transform: uppercase; font-size: 1.2em; line-height:1.2em;font-weight: 100; padding: 8px 0; border-bottom: 1px solid #ddd;}
	.inpage-navigation li:last-child {border-bottom: 0px;}
.inpage-navigation-li a {color:#807d7d;}
.inpage-navigation-li-active a {color:#6f5c2d; font-weight: 400; padding-left: 8px; border-left: 2px solid #6f5c2d;}
.inpage-navigation-li a:hover {text-decoration: none; border-bottom: 1px solid #807d7d;}

/* repositions landing page navigation / appendAround */
.onright {display: block;}
.underneath {display: none; }


/* CONTENT */
/* CONTENT */
.content-row-slider {margin-left: -20px !important;margin-right: -20px !important;}
.standard-content {margin: 23px -5px 50px -5px;}
.standard-content-area {margin: -200px -25px 50px -5px; background: #fff; padding: 35px; }

.standard-page-heading {font-size: 3em; margin: 10px 0 25px 0; text-transform: uppercase; font-weight: 500; letter-spacing: 0.05em;}
.inpage-navigation-content {height: auto;}

.page-end {border-bottom: 2px solid #ddd; width: 200px; margin: 40px 0;}

@media (max-width: 1200px){
	.banner-text {position: relative;}
	.flexslider .title {font-size: 5em;}
	.flexslider .caption {color: #fff; font-size: 1.8em;}

	/* LANDING */
	/* LANDING */
	.landing-bg {height: 573px;}
	.row-slider {min-height: 545px;}
}

@media (max-width: 991px){
	.main {margin-top:91px; transition: 0.5s ease;}
	.banner-text {position: relative;}
	.flex-caption .title {font-size: 4em;width: 65%;}
	.flex-caption .caption {font-size: 1.8em;width: 65%;}

	.tripple-pack-heading {font-size: 1.35em; line-height:1.25em;}
	.tripple-pack p {font-size: 1em; line-height:1.45em;}

	.gold {width: 190px; height: 190px;}
	.gold-heading {font-size: 1.5em;}
	.gold p {font-size: 0.95em;}

	.quick-links-panel ul {margin: 20px 0 40px 0}

	/* LANDING */
	/* LANDING */
	.landing-bg {height: 348px;}
	.row-slider {min-height: 315px;}
	.landing .flexslider {margin: 0px 0px 0 0px ;}

	.landing-content-no-margin {margin: -20px -5px 50px -5px;}
	.landing-content p {font-size: 1.1em; line-height: 1.8em;}
	.landing-section-img {max-height: 200px; overflow: hidden;}

	.standard-promo {margin: 0 0px 15px 0px; max-height: 237px;}
	.standard-promo-panel { padding: 10px; margin: 10px; width: 170px; height:217px;}
	.standard-promo-panel-heading {font-size: 1.35em;  margin: 0; }
	.standard-promo-panel p {font-size: 0.95em; line-height:1.45em; margin: 5px 0; padding: 0px;}

	.landing-section {margin: 0 0 15px 0;}
	.landing-section-heading {margin: -47px 0 10px 0; background: rgba(255,255,255,0.75); position: relative; padding: 10px;}
	.landing-section p {font-size: 1em; line-height: 1.6em; color:#9E9B9B; margin: 15px 0; padding: 0 15px 0 0;}

	/* repositions landing page navigation */
	.onright {display: none;}
	.underneath {display: block; margin: -20px -5px 30px -5px;}

	/* CONTENT */
	/* CONTENT */
	.content-row-slider {margin-left: -20px !important;margin-right: -20px !important;}
	.standard-content-no-margin {margin: 20px -5px 50px -5px;}
	.standard-content-area {margin: -100px -5px 50px -5px; padding: 25px; }

}

@media (max-width: 767px){
	.main {margin-top:85px; transition: 0.5s ease;}
	.banner-text {position: relative;}
	.flexslider .title {font-size: 2em;width: 50%;}
	.flexslider .caption {font-size: 0.9em;width: 45%;}

	.tripple-pack {margin: 0 -15px 0 -15px;}
	.tripple-pack-1-img,.tripple-pack-2-img,.tripple-pack-3-img {margin: 0 -15px 0 -15px;}

	.outer-main {padding-bottom:1px;}
	.outer-promo-panel {padding: 10px 0 0 0;}
	.wide-promo {margin: 0 -5px 10px -5px;}

	/* LANDING */
	/* LANDING */
	.landing-bg {background: none;}
	.landing .row {margin-left: -15px; margin-right: -15px;}
	.landing .flexslider {margin: 0px -15px 0 -15px ;}
	.row-slider {margin-left: -15px !important;margin-right: -15px !important; min-height: 155px;}
	.landing-content {margin: 0px -5px 15px -5px;}
	.landing-page-heading {margin: 30px 0 25px 0; }
	
	/* Skullduggery for type and spacing */
	/* Skullduggery for type and spacing */
	.landing-page-heading, .page-intro, .landing-content p {padding: 0 15px 0 15px;}
	/* reset the padding for other text containers */
	.standard-promo-panel p, .landing-section p {padding: 0px;}

	
	.landing-content p:last-child {margin: 0 0 50px 0;}
	/* reset the margin for other text containers */
	.landing-promo-panel p:last-child, .landing-section p:last-child {margin: 0 0 10px 0;}

	/* CONTENT */
	/* CONTENT */
	.content-row-slider {margin-left: -15px !important;margin-right: -15px !important;}
	.standard-page-heading, .standard-content p {padding: 0 15px 0 15px;}
}

@media (max-width: 620px){
	.main {margin-top:72px; transition: 0.5s ease;}
	.flexslider .title {font-size: 1.8em;width: 60%;}
	.flexslider .caption {font-size: 0.9em; width: 85%; font-weight: 500;}

	.mc-field-group input[type="text"], .mc-field-group input[type="email"] {width: 100%;}

	/* LANDING */
	/* repositions landing page navigation */
	.underneath {display: block; margin: 20px -5px 10px -5px;}

	/* CONTENT */
	.standard-content-area {margin: -20px 0px 50px 0px; padding: 10px; }
	.standard-page-heading {font-size: 2em;}
}

ul li, ol li { line-height: 17px;margin-bottom: 5px; }

.landing-content img { max-width: 100%; }

footer .quick-links-panel ul li{ width: 100%; }

.standard-content ul{ padding-left: 20px; }