---
title: metabolic-profiling
slug: metabolic-profiling
listed: true
published: true
cache_strategy: simple
response_type: text/html
---

{% extends "content" %}

{% block main %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->

  {% editable_text "metabolic_profiling_body", rows: 20 %}
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">Metabolic Profiling</h1>
 					<p>
 						Metabolic profile testing is the 'gold standard' when it comes to accurately determining what your body's energy requirements are and how you respond to exercise. Current technology allows us to accurately determine this rather than estimating it.
 					</p>
          <p>
            Hogarth membership includes regular consultations with your Personal Trainer, however to optimise your exercise time for the ultimate benefits you may wish to consider Metabolic Profile Testing. Our commitment to acquiring innovative and cutting edge equipment accompanied by the most skilled Personal Trainers in the industry gives you an opportunity to achieve your exercise and lifestyle results like never before.
          </p>
				<h4>What is Metabolic Profile Testing?</h4>
					<p>
						A simple assessment allows your metabolic profile to be 'captured' and the information will produce your individual metabolic profile. The profile includes your resting metabolic rate (RMR), your daily calorific needs and the heart rate zones in which your body best responds to exercise. Testing is quick and easy and includes a test to determine your resting metabolic rate and another test to determine your metabolic responses to exercise. Throughout the test the system is capturing information about your heart rate, oxygen uptake and carbon dioxide output.
					</p>
				<h4>How Does Metabolic Profiling Help?</h4>
					<p>
						With your unique profile you can more easily achieve weight loss goals and improve aerobic fitness by optimising your exercise plan. Your resting test illustrates how many calories you can eat without gaining weight and how you can maximise calories burned in every workout. Your exercise test results show what heart rate zones to train in for your body to become more efficient at burning fat as an energy source, how to build a stronger & wider aerobic base and what your anaerobic threshold is and how to move this higher. Whatever your training goals are, your metabolic profile is the key to training more effectively and efficiently to optimise your training results.
            
					</p>
				<h4>Preparing for your Test</h4>
					<p>
						For more information about Metabolic Profile Testing or to make an appointment please speak to a Personal Trainer. Metabolic Profile Tests cost £125 per test. To ensure that your results are accurate and consistent it is necessary to prepare in advance. Please:
					</p>
					<ul>
						<li>Abstain from food including tea and coffee for 8 hours prior to your test. Drinking water is fine.</li>
						<li>Abstain from alcohol for 12 hours prior to your test.</li>
						<li>Avoid doing a high intensity training session the previous day.</li>
					</ul>
				      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

       <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/section/gym">THE GYM</a></li>
            <li class="inpage-navigation-li "><a href="/section/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/section/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li "><a href="/section/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
  {% endeditable_text %}
{% endblock %}