{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">Pilates with Studio</h1>
        <h4>STOP PRESS: Studio 17 Pilates now available at The Hogarth Health Club.</h4>
        <h4>Who are we?</h4>
 					<p>
 						Introducing Graeme and Lysta Reardon, a dedicated husband and wife team with a combined experience of over 23 years who will work an individual programme for your specific needs.
 					</p>
        <h4>What do Studio 17 offer?</h4>
        <ul>
            <li>
              One to One Mat Pilates - improves posture, de-stresses & strengthens core.
              
            </li>
            <li>
              One to One Reformer Pilates - use of equipment provides increased control and enhanced challenge.
            </li>
            <li>
              One to One Ante natal: Preparing your body for labour & maintaining your figure during pregnancy.
            </li>
            <li>
              One to One Post natal: returning your body to its pre-natal state by strength & core stability exercises. Creche facility available for members.
              
            </li>
          </ul>
				<h4>Where are they?</h4>
					<p>
						Studio 17 now have a bespoke studio located within The Hogarth Health Club, adjacent to the main gymnasium. This ground floor studio boasts the very latest reformer equipment.
					</p>
				<h4>Classes and Prices</h4>
					<p>
            Monday: 8.15am, 9.15am then 11am, 12noon and 1pm with Graeme
					</p>
          <p>
            Tuesday: 8.30am and 9.30am, with Graeme and 10.45am, 11.45am and 12.45pm with Lysta
          </p>
          <p>
            Wednesday: 8.15am, 9.15am, 12noon and 1pm with Graeme
          </p>
          <p>
            Thursday: 10.30am and 11.30am with Lysta, 12.30pm and 1.30pm with Graeme
          </p>
          <p>
            Friday: 10am and 11am with Graeme, 12noon, 1pm, 2pm and 3pm with Lisa Perry
            
          </p>
          <p>
            Saturday: 8am, 9.30am, 10.30am, 11.30am with Lisa Perry
          </p>
          <p>
            Each one on one session is for one hour, the first session including a postural analysis. Session costs are £55 per hour. If 10 classes are booked and paid for in advance, one free class is included.
          </p>
          <p>
            Shared equipment sessions (for 2 people) are also available for £30 per person per hour. This allows friends or partners to enjoy a session at a reduced per person charge. We can also pair clients up accordingly on request.
            
          </p>
          <p>
            Cancellations and rearrangements are free of charge if 24 hours notice is given. Missed classes are charged at full rate if no notice or insufficient notice is provided. Bookings can be made through the main Hogarth Health Club reception on 020 8995 4600.
            
          </p>
          <p>
            Taster sessions are available by prior arrangement.
            
          </p>
        <h4>Clinical Pilates</h4>
          <p>
            The Pilates Method was originally developed by Joseph Pilates in the 1920's. Joseph Pilates practiced and taught his method (originally called Contrology) throughout his life up to his death at the age of 86.
          </p>
          <p>
            Pilates is a conditioning exercise programme that targets the deep postural muscles of the abdomen and spine to improve overall central core stability and posture. The following eight Pilates principles are: Concentration, centering, breathing, isolation, routine, precision, control and flowing movement.
          </p>
          <p>
            Clinical Pilates is a series of exercises in various different body positions which have been adapted by physiotherapists to make them more suitable for patients with back and neck pain, and those recovering from injury. They are also useful for general conditioning and for prevention of injury through muscle wastage and poor posture.
          </p>
          <p>
            By completing Pilates exercises regularly, it can help to improve your posture, strength and flexibility alongside a healthy lifestyle.
            
          </p>
          <p>
            Many patients find that Pilates is a useful form of exercise when returning to their normal hobbies/sports following injury and as an addition to their fitness regime. Who would have thought that many rugby teams around the world would use Pilates as a valuable addition to their game winning strategies?
            
          </p>
          <p>
            Evidence supports the use of the Pilates method in the prevention and rehabilitation of back injuries. By retraining the deep abdominal and spinal muscles, Pilates can help to prevent the recurrence of back pain in combination with correct back care and advice, and gentle aerobic activity.
            
          </p>
          <p>
            For these reasons we truly believe that this branch of The Pilates Method is the most valuable and is a greatest addition to any existing fitness routine or to pull anyone out of a sedentary lifestyle.
            
          </p>          
									      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li "><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}