---
title: Content type template
slug: content_type_template
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
content_type: timetables
---



{% extends parent %}

{% block main %}
<div class="main landing">

<div class="container">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">

      <img src="https://hogarth-cms-production.s3.amazonaws.com/sites/545b3ba9046f603edf000002/content_entry5492f6ab834c97b01d000005/5493f24ba1d5c4eb0b000004/files/main-content-image.jpg?1418981963" width="100%">
    </div>

      </div>
    </div>
  </div>
  
  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-11 col-sm-11 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">

        <div class="standard-content standard-content-area">
          <h1 class="standard-page-heading">Timetables</h1>

      <div class="row">

      <div class="col-sm-7 col-xs-12">
        <select class="selectpicker show-tick">
        <optgroup label="Young members" data-max-options="2">  
          <option>Spring 2015 – 5th Jan to 29th Mar</option>
          <option>Spring 2015 – 5th Jan to 29th Mar</option>
          <option>Spring 2015 – 5th Jan to 29th Mar</option>
          <option>Spring 2015 – 5th Jan to 29th Mar</option>
        </optgroup>
        <optgroup label="Adults" data-max-options="2">
          <option>Spring 2015 – 5th Jan to 29th Mar</option>
          <option>Spring 2015 – 5th Jan to 29th Mar</option>
          <option>Spring 2015 – 5th Jan to 29th Mar</option>
          <option>Spring 2015 – 5th Jan to 29th Mar</option>
        <optgroup>
        </select>
      </div>

      <div class="col-sm-5 col-xs-12">
        <span class="hhc-pdf"><a href="https://s3.amazonaws.com/the-park-club-website/hogarth_spring_2015.pdf" target="_blank">Download as PDF</a></span>
      </div>

      </div>

<!-- Timetable start -->

<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#mon" data-toggle="tab" class="selected">MON</a></li>
  <li><a href="#tues" data-toggle="tab">TUES</a></li>
  <li><a href="#wed" data-toggle="tab">WED</a></li>
  <li><a href="#thur" data-toggle="tab">THUR</a></li>
  <li><a href="#fri" data-toggle="tab">FRI</a></li>
  <li><a href="#sat" data-toggle="tab">SAT</a></li>
  <li><a href="#sun" data-toggle="tab">SUN</a></li>
</ul>
<br><br>


<div id="myTabContent" class="tab-content">

<div class="tab-pane fade in active" id="mon">

<!-- MONDAY EXAMPLE -->
<table cellpadding='0' cellspacing='0' class="table no-border">
<tr>
  <th>TIME</th>
  <th>ACTIVITY</th>
  <th>INSTRUCTOR</th>
  <th class='hidden-xs hidden-sm'>AREA</th>
  <th>LEVEL</th>
  <th class='hidden-xs'>SESSION &pound;</th>
</tr>

<tr class='morning'>
  <td class='time'><div class='label'>Morning</div></td>
  <td colspan='7'></td>
</tr>

<tr class='adult'>
  <td class='time'>07:30 - 08:30</td>
  <td title='50 / 50'><a href="/timetable_activities/9122">50 / 50</a></td>
  <td title='Tara'><a href="/instructors/63">Tara</a></td>
  <td class='hidden-xs hidden-sm' title='Studio 1'>Studio 1</td>
  <td title='General'>General</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>09:00 - 10:00</td>
  <td title='BODYPUMP'><a href="/timetable_activities/9123">BODYPUMP</a></td>
  <td title='Ris'><a href="/instructors/65">Ris</a></td>
  <td class='hidden-xs hidden-sm' title='Studio 1'>Studio 1</td>
  <td title='General'>General</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>09:00 - 10:00</td>
  <td title='Pilates'><a href="/timetable_activities/9203">Pilates</a></td>
  <td title='Helena'><a href="/instructors/84">Helena</a></td>
  <td class='hidden-xs hidden-sm' title='Studio 2'>Studio 2</td>
  <td title='Beginner'>Beginner</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>10:00 - 11:00</td>
  <td title='Spinning'><a href="/timetable_activities/9124">Spinning</a></td>
  <td title='Charles'><a href="/instructors/66">Charles</a></td>
  <td class='hidden-xs hidden-sm' title='Studio 1'>Studio 1</td>
  <td title='General'>General</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>10:00 - 11:00</td>
  <td title='Pilates'><a href="/timetable_activities/9204">Pilates</a></td>
  <td title='Helena'><a href="/instructors/84">Helena</a></td>
  <td class='hidden-xs hidden-sm' title='Studio 2'>Studio 2</td>
  <td title='Intermediate'>Intermediate</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>10:15 - 11:00</td>
  <td title='H20'><a href="/timetable_activities/9125">H20</a></td>
  <td title='Ris'><a href="/instructors/65">Ris</a></td>
  <td class='hidden-xs hidden-sm'  title='Pool'>Pool</td>
  <td title='General'>General</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>11:00 - 12:30</td>
  <td title='Hatha Yoga'><a href="/timetable_activities/9126">Hatha Yoga</a></td>
  <td title='Anna'><a href="/instructors/67">Anna</a></td>
  <td class='hidden-xs hidden-sm' title='Studio 2'>Studio 2</td>
  <td title='General'>General</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>11:15 - 12:15</td>
  <td title='Body Conditioning'><a href="/timetable_activities/9127">Body Conditioning</a></td>
  <td title='Lucy'><a href="/instructors/68">Lucy</a></td>
  <td class='hidden-xs hidden-sm'  title='Studio 1'>Studio 1</td>
  <td title='General'>General</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='afternoon'>
  <td class='time'><div class='label'>Afternoon</div></td>
  <td colspan='7'></td>
</tr>

<tr class='adult'>
  <td class='time'>12:30 - 13:30</td>
  <td title='Danceworks'><a href="/timetable_activities/9128">Danceworks</a></td>
  <td title='Alison'><a href="/instructors/alison--2">Alison</a></td>
  <td class='hidden-xs hidden-sm' title='Studio 1'>Studio 1</td>
  <td title='General'>General</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>13:30 - 14:30</td>
  <td title='Stretchworks'><a href="/timetable_activities/9129">Stretchworks</a></td>
  <td title='Alison'><a href="/instructors/alison--2">Alison</a></td>
  <td class='hidden-xs hidden-sm' title='Studio 1'>Studio 1</td>
  <td title='General'>General</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>14:30 - 15:15</td>
  <td title='Legs Bums &amp; Tums'><a href="/timetable_activities/9130">Legs Bums & Tums</a></td>
  <td title='Tara'><a href="/instructors/63">Tara</a></td>
  <td class='hidden-xs hidden-sm' title='Studio 1'>Studio 1</td>
  <td title='General'>General</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>17:30 - 18:30</td>
  <td title='Stretchworks'><a href="/timetable_activities/9132">Stretchworks</a></td>
  <td title='Alison'><a href="/instructors/alison--2">Alison</a></td>
  <td class='hidden-xs hidden-sm' title='Studio 1'>Studio 1</td>
  <td title='General'>General</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='evening'>
  <td class='time'><div class='label'>Evening</div></td>
  <td colspan='7'></td>
</tr>

<tr class='adult'>
  <td class='time'>18:30 - 19:30</td>
  <td title='Zumba'><a href="/timetable_activities/9228">Zumba</a></td>
  <td title='Isabella'><a href="/instructors/isabella">Isabella</a></td>
  <td class='hidden-xs hidden-sm' title='Studio 1'>Studio 1</td>
  <td title='General'>General</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>19:00 - 20:00</td>
  <td title='Hatha Yoga'><a href="/timetable_activities/9134">Hatha Yoga</a></td>
  <td title='Laura S'><a href="/instructors/73">Laura S</a></td>
  <td class='hidden-xs hidden-sm' title='Studio 2'>Studio 2</td>
  <td title='General'>General</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>19:30 - 20:30</td>
  <td title='Circuits'><a href="/timetable_activities/9133">Circuits</a></td>
  <td title='Terry'><a href="/instructors/83">Terry</a></td>
  <td class='hidden-xs hidden-sm'  title='Studio 1'>Studio 1</td>
  <td title='adavanced'>adavanced</td>
  <td class='hidden-xs'>Free</td>
</tr>

<tr class='adult'>
  <td class='time'>20:00 - 20:45</td>
  <td title='Latin Dance'><a href="/timetable_activities/9241">Latin Dance</a></td>
  <td title='Niko'><a href="/instructors/niko">Niko</a></td>
  <td class='hidden-xs hidden-sm'  title='Bar'>Bar</td>
  <td title='Beginner'>Beginner</td>
  <td class='hidden-xs'>£12.00</td>
</tr>

<tr class='adult'>
  <td class='time'>20:45 - 21:30</td>
  <td title='Latin Dance'><a href="/timetable_activities/9242">Latin Dance</a></td>
  <td title='Niko'><a href="/instructors/niko">Niko</a></td>
  <td class='hidden-xs hidden-sm'  title='Bar'>Bar</td>
  <td title='Intermediate'>Intermediate</td>
  <td class='hidden-xs'>£12.00</td>
</tr>
</table>

</div>

<!-- TUESDAY EXAMPLE -->
<div class="tab-pane fade in" id="tues">

<table cellpadding='0' cellspacing='0' class="table no-border">
  <tr>
    <td>Tuesday timetable<br></td>
  </tr>
  <tr>
    <th>TIME</th>
    <th>ACTIVITY</th>
    <th>INSTRUCTOR</th>
    <th class='hidden-xs hidden-sm'>AREA</th>
    <th>LEVEL</th>
    <th class='hidden-xs'>SESSION &pound;</th>
  </tr>
  <tr class='adult'>
    <td class='time'>20:45 - 21:30</td>
    <td title='Latin Dance'><a href="/timetable_activities/9242">Latin Dance</a></td>
    <td title='Niko'><a href="/instructors/niko">Niko</a></td>
    <td class='hidden-xs hidden-sm'  title='Bar'>Bar</td>
    <td title='Intermediate'>Intermediate</td>
    <td class='hidden-xs'>£12.00</td>
  </tr>
</table>

</div>

<!-- WEDNESDAY EXAMPLE -->
<div class="tab-pane fade in" id="wed">

<table cellpadding='0' cellspacing='0' class="table no-border">
  <tr>
    <td>Wednesday timetable<br></td>
  </tr>
  <tr>
    <th>TIME</th>
    <th>ACTIVITY</th>
    <th>INSTRUCTOR</th>
    <th class='hidden-xs hidden-sm'>AREA</th>
    <th>LEVEL</th>
    <th class='hidden-xs'>SESSION &pound;</th>
  </tr>
  <tr class='adult'>
    <td class='time'>20:45 - 21:30</td>
    <td title='Latin Dance'><a href="/timetable_activities/9242">Latin Dance</a></td>
    <td title='Niko'><a href="/instructors/niko">Niko</a></td>
    <td class='hidden-xs hidden-sm'  title='Bar'>Bar</td>
    <td title='Intermediate'>Intermediate</td>
    <td class='hidden-xs'>£12.00</td>
  </tr>
</table>

</div>

<!-- THURSDAY EXAMPLE -->
<div class="tab-pane fade in" id="thur">

<table cellpadding='0' cellspacing='0' class="table no-border">
  <tr>
    <td>Thursday timetable<br></td>
  </tr>
  <tr>
    <th>TIME</th>
    <th>ACTIVITY</th>
    <th>INSTRUCTOR</th>
    <th class='hidden-xs hidden-sm'>AREA</th>
    <th>LEVEL</th>
    <th class='hidden-xs'>SESSION &pound;</th>
  </tr>
  <tr class='adult'>
    <td class='time'>20:45 - 21:30</td>
    <td title='Latin Dance'><a href="/timetable_activities/9242">Latin Dance</a></td>
    <td title='Niko'><a href="/instructors/niko">Niko</a></td>
    <td class='hidden-xs hidden-sm'  title='Bar'>Bar</td>
    <td title='Intermediate'>Intermediate</td>
    <td class='hidden-xs'>£12.00</td>
  </tr>
</table>

</div>

<!-- FRIDAY EXAMPLE -->
<div class="tab-pane fade in" id="fri">

<table cellpadding='0' cellspacing='0' class="table no-border">
  <tr>
    <td>Friday timetable<br></td>
  </tr>
  <tr>
    <th>TIME</th>
    <th>ACTIVITY</th>
    <th>INSTRUCTOR</th>
    <th class='hidden-xs hidden-sm'>AREA</th>
    <th>LEVEL</th>
    <th class='hidden-xs'>SESSION &pound;</th>
  </tr>
  <tr class='adult'>
    <td class='time'>20:45 - 21:30</td>
    <td title='Latin Dance'><a href="/timetable_activities/9242">Latin Dance</a></td>
    <td title='Niko'><a href="/instructors/niko">Niko</a></td>
    <td class='hidden-xs hidden-sm'  title='Bar'>Bar</td>
    <td title='Intermediate'>Intermediate</td>
    <td class='hidden-xs'>£12.00</td>
  </tr>
</table>

</div>

<!-- SATURDAY EXAMPLE -->
<div class="tab-pane fade in" id="sat">

<table cellpadding='0' cellspacing='0' class="table no-border">
  <tr>
    <td>Saturday timetable<br></td>
  </tr>
  <tr>
    <th>TIME</th>
    <th>ACTIVITY</th>
    <th>INSTRUCTOR</th>
    <th class='hidden-xs hidden-sm'>AREA</th>
    <th>LEVEL</th>
    <th class='hidden-xs'>SESSION &pound;</th>
  </tr>
  <tr class='adult'>
    <td class='time'>20:45 - 21:30</td>
    <td title='Latin Dance'><a href="/timetable_activities/9242">Latin Dance</a></td>
    <td title='Niko'><a href="/instructors/niko">Niko</a></td>
    <td class='hidden-xs hidden-sm'  title='Bar'>Bar</td>
    <td title='Intermediate'>Intermediate</td>
    <td class='hidden-xs'>£12.00</td>
  </tr>
</table>

</div>

<!-- SUNDAY EXAMPLE -->
<div class="tab-pane fade in" id="sun">

<table cellpadding='0' cellspacing='0' class="table no-border">
  <tr>
    <td>Sunday timetable<br></td>
  </tr>
  <tr>
    <th>TIME</th>
    <th>ACTIVITY</th>
    <th>INSTRUCTOR</th>
    <th class='hidden-xs hidden-sm'>AREA</th>
    <th>LEVEL</th>
    <th class='hidden-xs'>SESSION &pound;</th>
  </tr>
  <tr class='adult'>
    <td class='time'>20:45 - 21:30</td>
    <td title='Latin Dance'><a href="/timetable_activities/9242">Latin Dance</a></td>
    <td title='Niko'><a href="/instructors/niko">Niko</a></td>
    <td class='hidden-xs hidden-sm'  title='Bar'>Bar</td>
    <td title='Intermediate'>Intermediate</td>
    <td class='hidden-xs'>£12.00</td>
  </tr>
</table>

</div>

</div>


<!-- Timetable END -->
      

      </div>
      </div>

      </div>
     </div>


    </div><!-- Container and row -->
  </div> 
  
  
   <!-- Promo panel -->
	  <div class="outer-promo-panel">
	    <div class="container">
	      <div class="row">
	      	{% for promo_panel in timetable.promo_panel limit: 2 %}
	      		<a href="{{ promo_panel.link }}">
			        <div class="col-sm-6 col-xs-12">
			          <div class="wide-promo" style="background: url({{ promo_panel.image.url }}) no-repeat center; background-size: cover;">
			            <div class="gold">
			              <h3 class="gold-heading">{{ promo_panel.title }}</h3>
			              <p>{{ promo_panel.description }}</p>
			            </div>  
			          </div>
			        </div>
		        </a>
	        {% endfor %}  
	      </div>

	    </div>
	  </div>
	  <!-- END Promo panel -->

{% endblock %}