{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">Personal Training</h1>
        <iframe width="560" height="315" src="//www.youtube.com/embed/C3vIkNvmUhY" frameborder="0" allowfullscreen></iframe>
        <h4>Inclusive Personal Training</h4>
 					<p>
 						On first joining the Club, members receive 5 complimentary one on one personal training sessions lasting one hour each. This time allows our team to really understand what you want to achieve, what's safe and realistic, as well as getting to really know you and how best to keep you motivated and on track. To maintain and develop our relationship with you and your goals, every member also receives one complimentary Personal Training session every month of their membership thereafter. For most this approach really works.
 					</p>
				<h4>The Trainers</h4>
					<p>
						Full details of the club's Personal Trainers are available on the Personal Training notice board or via this <a href="http://s3.amazonaws.com/the-hogarth-group-websites/attachments/469/original.pdf?1331911935">PT Profile Download.</a>
					</p>
				<h4>Personal Training Xtra</h4>
					<p>
						Despite our commitment to maintain the highest standards of staff attention and detail, some members may feel they require more frequent support and encouragement. For these members we are able to offer Personal Training Xtra. Personal Training Xtra is the ultimate gymnasium experience. Our clubs are therefore able to offer Personal Training Xtra in accordance with the terms and conditions below.
					</p>
				<h4>Do I need Personal Training Xtra?</h4>
					<p>
						Firstly, all members are encouraged to benefit from the Personal Training services that are inclusive of their membership. The majority of members will consider the inclusive Personal Training service provided to be sufficient for their needs. However, you may feel you need more in the way of motivation or guidance to help you achieve your goals or to train for something specific. If this is the case Personal Training Xtra may offer what you are looking for.
					</p>
				<h4>What are the benefits of Personal Training Xtra?</h4>
					<p>
						More regular Personal Training sessions can offer a guaranteed, personal, uninterrupted schedule of appointments at a time convenient to you and should provide you with the following benefits:
					</p>
					<ul>
						<li>Improved motivation</li>
						<li>Enhanced continuity</li>
						<li>Constant encouragement</li>
						<li>Greater direction</li>
						<li>Continual guidance</li>
						<li>Swifter progression</li>
					</ul>
				<h4>Availability</h4>
					<p>
						Personal Training Xtra is available to any club member whose membership entitles them to use the gymnasium.
					</p>
				<h4>How often should I have Personal Training Xtra sessions?</h4>
					<p>
						This is entirely up to you and is dependent on your needs and goals. You may feel that once a week or fortnight is sufficient to supplement your inclusive sessions. If you feel that the one - to - one nature of Personal Training is the only way to adhere to regular exercise, then this will be the determining factor.
					</p>
				<h4>Terms and Conditions</h4>
					<p>
						Personal Training Xtra session rates are available in single and discounted block bookings. Please consult the Personal Training Xtra notice board or a member of the personal training team for details. Payment for all appointments must be in advance and directly to the Personal Trainer. Cash and cheques are accepted but we regret we are unable to accept credit/debit cards.
					</p>
					<p>
						24 hours notice must be provided if you wish to cancel an appointment. Failure to do so will result in the full fee being charged.
					</p>


      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training.liquid">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling.liquid">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li "><a href="/sections/gym/pilates-with-studio-17.liquid">Pilates with Studio 17</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>

        </div>
      </div>

    </div><!-- Container and row -->
  </div> 



  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>
          
      </div>

    </div>
  </div>
  <!-- END Promo panel -->

{% endblock %}