---
title: About
slug: about
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 101
---
{% extends parent %}

{% block main %}

<div class="container landing">
	<div class="container">
    <div class="row">
      	About Page
    </div>
  </div>
</div>

{% endblock %}
