---
title: Index
published: true
---

{% include head %}
{% include header %}

{% block main %}
<div class="outer-main">

  {% include home-slider %}

  <div class="container">
    <div class="row">
      {% editable_text "index_body", rows: 20 %}
      <div class="col-sm-4 col-xs-12">
        <div class="tripple-pack-1-img"></div>
        <div class="tripple-pack element">
          <h1 class="tripple-pack-heading"><a href="http://www.theparkclub.co.uk">Improve posture &amp; strengthen your core</a></h1>
          <p>Introducing Graeme and Lysta Reardon, a dedicated husband and wife team with a combined experience of over 23 years.</p>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12">
        <div class="tripple-pack-2-img"></div>
        <div class="tripple-pack element">
          <h1 class="tripple-pack-heading"><a href="http://www.theparkclub.co.uk">Caribbean BBQ Night- COME AND join us!</a></h1>
          <p>We are hosting Caribbean Night on 17 June. There will be a free Cocktail bar and authentic BBQ @ £10 a head.</p>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12">
        <div class="tripple-pack-3-img"></div>
        <div class="tripple-pack element">
          <h1 class="tripple-pack-heading"><a href="http://www.theparkclub.co.uk">Jessica Nail Treatments available</a></h1>
          <p>Jessica Cosmetics is considered a world leading brand, with a range of Jessica nail products to achieve and maintain naturally.</p>
        </div>
      </div>
      {% endeditable_text %}
    </div>
  </div>
</div>
<!-- END Tripple pack -->

<!-- Promo panel -->
  {% include promo-panel %}  
<!-- END Promo panel -->

<!-- Footer panel -->
  {% include home-footer %}  
<!-- END Footer panel -->
{% endblock %}

{% include footer %}