---
title: Home
published: true
---

{% include head %}
{% include header %}

    <div class="main"> 
      {% block main_content %}
        <div class="outer-main">
          <div class="flexslider">
            <ul class="slides">
              <li>
                {{ 'main-slider-1.jpg' | theme_image_tag: 'alt:main-slider' }}
                <div class="flex-caption">
                  <div class="title">{% editable_text title1, hint: "a title", format: raw, rows: 1 %}Enjoy{% endeditable_text %}</div>
                  <div class="caption">{% editable_text caption1, hint: "a caption", format: raw, rows: 2 %}wile away the stresses of the day in the mood lit pool{% endeditable_text %}</div>
                </div>
              </li>
              <li>
                {{ 'main-slider-2.jpg' | theme_image_tag: 'alt:main-slider' }}
                <div class="flex-caption">
                  <div class="title">{% editable_text title2, hint: "a title", format: raw, rows: 1 %}Relax{% endeditable_text %}</div>
                  <div class="caption">{% editable_text caption2, hint: "a caption", format: raw, rows: 2 %}wile away the stresses of the day in the mood lit pool{% endeditable_text %}</div>
                </div>
              </li>
            </ul>
          </div>

          <div class="container">
            <div class="row">

              <div class="col-sm-4 col-xs-12">
                <div class="tripple-pack-1-img"></div>
                <div class="tripple-pack element">
                  <h1 class="tripple-pack-heading"><a href="http://www.theparkclub.co.uk">{% editable_text title3, hint: "a title", format: raw, rows: 1 %}Improve posture &amp; strengthen your core{% endeditable_text %}</a></h1>
                  <p>{% editable_text title4, hint: "a title", format: raw, rows: 1 %}Introducing Graeme and Lysta Reardon, a dedicated husband and wife team with a combined experience of over 23 years.{% endeditable_text %}</p>
                </div>
              </div>

              <div class="col-sm-4 col-xs-12">
                <div class="tripple-pack-2-img"></div>
                <div class="tripple-pack element">
                  <h1 class="tripple-pack-heading"><a href="http://www.theparkclub.co.uk">{% editable_text title5, hint: "a title", format: raw, rows: 1 %}Caribbean BBQ Night- COME AND join us!{% endeditable_text %}</a></h1>
                  <p>{% editable_text title6, hint: "a title", format: raw, rows: 1 %}We are hosting Caribbean Night on 17 June. There will be a free Cocktail bar and authentic BBQ @ £10 a head.{% endeditable_text %}</p>
                </div>
              </div>

              <div class="col-sm-4 col-xs-12">
                <div class="tripple-pack-3-img"></div>
                <div class="tripple-pack element">
                  <h1 class="tripple-pack-heading"><a href="http://www.theparkclub.co.uk">{% editable_text title6, hint: "a title", format: raw, rows: 1 %}Jessica Nail Treatments available{% endeditable_text %}</a></h1>
                  <p>{% editable_text title7, hint: "a title", format: raw, rows: 1 %}Jessica Cosmetics is considered a world leading brand, with a range of Jessica nail products to achieve and maintain naturally.{% endeditable_text %}</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- END Tripple pack -->

        <!-- Promo panel -->
        <div class="outer-promo-panel">
          <div class="container">
            <div class="row">

              <div class="col-sm-6 col-xs-12">
                <div class="wide-promo wide-promo-1">
                  <div class="gold">
                    <h3 class="gold-heading"><a href="http://www.theparkclub.co.uk">{% editable_text title8, hint: "a title", format: raw, rows: 1 %}Membership offer{% endeditable_text %}</a></h3>
                    <p>{% editable_text title9, hint: "a title", format: raw, rows: 1 %}New members in August can take part in a free studio session Join us!{% endeditable_text %}</p>
                  </div>  
                </div>
              </div>

              <div class="col-sm-6 col-xs-12">
                <div class="wide-promo wide-promo-2">
                  <div class="gold">
                    <h3 class="gold-heading"><a href="http://www.theparkclub.co.uk">{% editable_text title10, hint: "a title", format: raw, rows: 1 %}Membership offer{% endeditable_text %}</a></h3>
                    <p>{% editable_text title10, hint: "a title", format: raw, rows: 1 %}New members in August can take part in a free studio session Join us!{% endeditable_text %}</p>
                  </div>  
                </div>
              </div>
                
            </div>

            <div class="row quick-links-panel">

              <div class="col-md-3 col-sm-6 col-xs-12">
                  <h1 class="quick-links-panel-heading">Studio activities</h1>
                  <ul>
                    <li><a href="http://www.theparkclub.co.uk">Pilates with Studio</a></li>
                    <li><a href="http://www.theparkclub.co.uk">Zumba classes</a></li>
                    <li><a href="http://www.theparkclub.co.uk">Legs, Bums and Tums</a></li>
                  </ul>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-12">
                  <h1 class="quick-links-panel-heading">State-of-the-art gym</h1>
                  <ul>
                    <li><a href="http://www.theparkclub.co.uk">Metabolic profiling</a></li>
                    <li><a href="http://www.theparkclub.co.uk">Personal training</a></li>
                    <li><a href="http://www.theparkclub.co.uk">Our gym equipment</a></li>
                  </ul>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-12">
                  <h1 class="quick-links-panel-heading">Clinic &amp; Beauty</h1>
                  <ul>
                    <li><a href="http://www.theparkclub.co.uk">Finishing Touches</a></li>
                    <li><a href="http://www.theparkclub.co.uk">Chiropractor</a></li>
                    <li><a href="http://www.theparkclub.co.uk">VOYA Facials &amp; Body Treatments</a></li>
                  </ul>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-12">
                  <h1 class="quick-links-panel-heading">Social events</h1>
                  <ul>
                    <li><a href="http://www.theparkclub.co.uk">Finishing Touches</a></li>
                    <li><a href="http://www.theparkclub.co.uk">Chiropractor</a></li>
                    <li><a href="http://www.theparkclub.co.uk">VOYA Facials &amp; Body Treatments</a></li>
                  </ul>
              </div>

            </div>
          </div>
        </div>
        <!-- END Promo panel -->
      {% endblock %}

{% include footer %}