---
title: Landing

# true if the page is included in the menu
listed: true
# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
<html>
  <head>
    {% include head %}
  </head>
  <body class="landing">
    <header id="mast">
    {% include header %}
    </header>
    <div class="landing-bg"></div>

<div class="main">

<div class="container">
  <div class="row row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="images/landing-slider-1.jpg" style="position: reltive;" />
          <div class="flex-caption">
              <div class="title">Enjoy</div>
              <div class="caption">wile away the stresses of the day in the mood lit pool</div>
        </div>
        </li>

        <li>
          <img src="images/landing-slider-2.jpg" style="position: relaive;" />
          <div class="flex-caption">
              <div class="title">Relax</div>
              <div class="caption">wile away the stresses of the day in the mood lit pool</div>
        </div>
        </li>

      </ul>
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->







  <div class="container">
    <div class="row">



      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="landing-content">
        <h1 class="landing-page-heading">SWIMMING</h1>

        <span class="landing-page-intro">The swimming pool is 18 metres in length with a level depth providing
the perfect balance for training,
aqua aerobics and relaxation.</span>

     <p>At night, the swimming pool is mood lit to create a tranquil, relaxing environment that allows you to wile away the stresses of the day. Lorem ipsum dolor sit amet, Spa Pool adipiscing elit. Proin gravida massa quam, ac rutrum sem porttitor in. Integer augue lectus, fringilla id dui et, fringilla
consequat est.</p>

<p>Pellentesque rutrum sapien ante, sit amet inte rdum turpis consectetur ulla amet, consectetur adipiscing elitmcorper etiam at 
Steam Room, ornare arcu eget, tincidunt lectus.
Etiam vel ultrices turpis. Etiam lacinia eros ut nisi</p>

<p>consectetur hendrerit. Maecenas vel lectus ipsum
Proin gravida massa quam, ac rutrum sem portti tor in. Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum turpis consectetur ulla amet, consectetur adipiscing elitmcorper etiam at 
       we<p>
      </div>

      <div class="underneath" data-set="landing-nav"></div>

     </div>


     <div class="col-md-8 col-sm-6 col-xs-12">

      <div class="row">

      <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="landing-content">

        <div class="landing-promo">
          <div class="landing-promo-panel">
            <h3 class="landing-promo-panel-heading">Steam Room</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>

        <div class="landing-section">
          <div class="landing-section-img">
            {{ 'landing-section-1.jpg' | theme_image_tag: 'alt:main-slider' }}
          </div>
          <h3 class="landing-section-heading">Spa Pool</h3>
          <p>Proin gravida massa quam, ac rutrum sem portti tor in. Integer augue lectus, fringilla id dui et, fringilla consequat est. Pell ntesque rutrum sapien ante, sit amet inte rdum turpis consectetur ulla amet, consectetur adipis</p> 
        </div>

        </div>
      </div>


      <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="landing-content landing-content-no-margin">

        <div class="onright" data-set="landing-nav">

        <div class="landing-navigation">
          <h3 class="landing-navigation-heading">Pool Activities</h3>
          <ul class="landing-navigation-ul">
            <li class="landing-navigation-li"><a href="achildpage.html">Water Aerobics</a></li>
            <li class="landing-navigation-li"><a href="achildpage.html">H20 Workout</a></li>
            <li class="landing-navigation-li"><a href="achildpage.html">Training</a></li>
            <li class="landing-navigation-li"><a href="achildpage.html">Another activity</a></li>
          </ul>  
        </div>

      </div>

              <div class="landing-section">
          <div class="landing-section-img">
            {{ 'landing-section-2.jpg' | theme_image_tag: 'alt:main-slider' }}
          </div>
          <h3 class="landing-section-heading">Sauna</h3>
          <p>Proin gravida massa quam, ac rutrum sem portti tor in. Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum turpis consectetur ulla amet, consectetur adipiscing elit</p> 
        </div>

        </div>





      </div>

    </div>
    </div>



    </div><!-- Container and row -->
  </div> 










  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>
          
      </div>

      <div class="row quick-links-panel">

        <div class="col-md-3 col-sm-6 col-xs-12">
            <h1 class="quick-links-panel-heading">Studio activities</h1>
            <ul>
              <li><a href="http://www.theparkclub.co.uk">Pilates with Studio 17</a></li>
              <li><a href="http://www.theparkclub.co.uk">Zumba classes</a></li>
              <li><a href="http://www.theparkclub.co.uk">Legs, Bums and Tums</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <h1 class="quick-links-panel-heading">State-of-the-art gym</h1>
            <ul>
              <li><a href="http://www.theparkclub.co.uk">Metabolic profiling</a></li>
              <li><a href="http://www.theparkclub.co.uk">Personal training</a></li>
              <li><a href="http://www.theparkclub.co.uk">Our gym equipment</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <h1 class="quick-links-panel-heading">Clinic &amp; Beauty</h1>
            <ul>
              <li><a href="http://www.theparkclub.co.uk">Finishing Touches</a></li>
              <li><a href="http://www.theparkclub.co.uk">Chiropractor</a></li>
              <li><a href="http://www.theparkclub.co.uk">VOYA Facials &amp; Body Treatments</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <h1 class="quick-links-panel-heading">Social events</h1>
            <ul>
              <li><a href="http://www.theparkclub.co.uk">Finishing Touches</a></li>
              <li><a href="http://www.theparkclub.co.uk">Chiropractor</a></li>
              <li><a href="http://www.theparkclub.co.uk">VOYA Facials &amp; Body Treatments</a></li>
            </ul>
        </div>

      </div>
    </div>
  </div>
  <!-- END Promo panel -->

    
    <footer>
    {% include footer %}
    </footer>
    {{ 'application.js' | javascript_tag }}
    <script type='text/javascript'>
      $(document).ready(function() {
        $('#menu').slicknav();
    </script>
</div>
  </body>
</html>
