---
title: section
slug: section
handle: section
listed: false
published: true
response_type: text/html
---
{% extends parent %}

{% block main %}
<div class="landing-bg"></div>
	<div class="container landing">

	{% include section-slider %}

	{% block section %}
	
  {% endblock %}

  <!-- Promo panel -->
    {% include promo-panel %}
  <!-- END Promo panel --> 
</div>
{% endblock %}