{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">

        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">STEAM ROOM</h1>

        <span class="page-intro">The swimming pool is 18 metres in length with a level depth providing
the perfect balance for training,
aqua aerobics and relaxation.</span>

 <p>At night, the swimming pool is mood lit to create a tranquil, relaxing environment that allows you to wile away the stresses of the day. Lorem ipsum dolor sit amet, Spa Pool adipiscing elit. Proin gravida massa quam, ac rutrum sem porttitor in. Integer augue lectus, fringilla id dui et, fringilla consequat est. Pellentesque rutrum sapien ante, sit amet inte rdum turpis consectetur ulla amet, consectetur adipiscing elitmcorper etiam at.</p>

<p>Steam Room, ornare arcu eget, tincidunt lectus. Etiam vel ultrices turpis. Etiam lacinia eros ut nisi consectetur hendrerit. Maecenas vel lectus ipsum Proin gravida massa quam, ac rutrum sem porttitor in. Integer augue lectus, fringilla id dui et, fringilla consequat est.</p>

<p>Pellentesque rutrum sapien ante, sit amet inte rdum turpis consectetur ulla amet, consectetur adipiscing elitmcorper etiam at ornare arcu eget, tincidunt lectus. Etiam vel ultrices turpis. Etiam lacinia eros ut nisi consectetur hendrerit. Maecenas vel lectus ipsum.</p>
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="achildpage.html">Spa Pool</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="achildpage.html">Steam Room</a></li>
            <li class="inpage-navigation-li"><a href="achildpage.html">Sauna</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>

        </div>
      </div>

    </div><!-- Container and row -->
  </div> 



  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>
          
      </div>

    </div>
  </div>
  <!-- END Promo panel -->

{% endblock %}