{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
      {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1>Tennis Coaches</h1>
        <p>
          We have two regular weekly tennis coaches at The Hogarth, Jose and Berj.
        </p>
        <h4>Jose Marquez</h4>

        <p>
          I have been involved in the tennis coaching industry for 12 years, having gained immeasurable amounts of experience in all fields and types of coaching. I am a firm believer in my tennis coaching philosophy which is commitment, determination, perseverance and of course enjoyment.
        </p>
        <p>
          I hope my players feel they are learning these different qualities through the help of my coaching whether it be in a one to one or group situation.
        </p>
        <p>
          My own tennis journey started years ago at a club called Rocks lane. It was here where through the coaching methods used the foundations were laid for me to learn discipline and respect, not just for myself and for my fellow squad players and my coaches but for the game that we call tennis.
        </p>
        <p>
          I left Rocks Lane at the age of 18 to attend the Gerry Dippenar Tennis Academy in South Africa. I left this academy having played to a high level ready to embark on my first serious coaching job.
        </p>
        <p>
          For the next ten years, I would spend my time honing my skills as a tennis coach at the Riverside Club in Chiswick where every opportunity was presented to me to work with adult tennis players and junior tennis players of different abilities. During the holidays I would also look after the Tiny Tots Camps and the Multi Sports programme available for the junior players. It was towards the end of my coaching at the Riverside that I helped put in place, alongside Simon Ainley, Head of Performance tennis at the club, the mini tennis red performance academy.
        </p>
        <p>
          Whilst coaching at the Hogarth, I think the defining quality that I can bring to the club is always being mindful of my responsibility as a coach whilst realising that fun is a key element of coaching. Consequently I am able to work with both adults and juniors with equal success and enthusiasm which can be rare in an individual.
        </p>
        <p>
          My future coaching aspirations will be to strive to extend my skills by updating and improving my LTA coaching qualification by attending coach education courses and keeping abreast of current trends and thinking. This I know will keep me ‘fresh’ and ‘enthused’ about tennis and my involvement in the coaching side of it.
        </p>
        <ul>
          <li>
            QUALIFICATIONS:
          </li>
          <li>
            USPTR TENNIS PROFESSIONAL (2000-1)
          </li>
          <li>
            LTA DEVELOPMENT COACH AWARD (2005)
          </li>
          <li>
            LTA CLUB COACH AWARD (2008)
          </li>
          <li>
            LTA SENIOR CLUB COACH AWARD (2010)
          </li>
        </ul>
        <h4>Berj Kantarjian</h4>        
        <p>
          Berj has been coaching tennis for over 25 years. He has worked extensively in the UK and abroad: USA, Spain, Portugal and the UAE. The Hogarth has been a place that he has constantly returned to during the summer seasons and more recently throughout the whole year.
        </p>
        <p>
          Tennis Qualifications:
        </p>
         <ul>
          <li>
            LTA Licensed Senior Club Coach
          </li>
          <li>
            USPTR 'Pro'
          </li>
          <li>
            ITF Coaching qualification
          </li>
          <li>
            USRSA (United States Racquet Stringers Association)
          </li>
        </ul>       
                             
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio-17">Pilates with Studio 17</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>

        </div>
      </div>

    </div><!-- Container and row -->
  </div> 



  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>
          
      </div>

    </div>
  </div>
  <!-- END Promo panel -->

{% endblock %}