{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
      {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1>{% editable_text title241, hint: "a title", format: raw, rows: 1 %}Tennis Coaches{% endeditable_text %}</h1>
        <p>{% editable_text title242, hint: "a title", format: raw, rows: 1 %}
          We have two regular weekly tennis coaches at The Hogarth, Jose and Berj.
          {% endeditable_text %}
        </p>
        <h4>Jose Marquez</h4>

        <p>{% editable_text title243, hint: "a title", format: raw, rows: 1 %}
          I have been involved in the tennis coaching industry for 12 years, having gained immeasurable amounts of experience in all fields and types of coaching. I am a firm believer in my tennis coaching philosophy which is commitment, determination, perseverance and of course enjoyment.
          {% endeditable_text %}
        </p>
        <p>{% editable_text title244, hint: "a title", format: raw, rows: 1 %}
          I hope my players feel they are learning these different qualities through the help of my coaching whether it be in a one to one or group situation.
          {% endeditable_text %}
        </p>
        <p>{% editable_text title245, hint: "a title", format: raw, rows: 1 %}
          My own tennis journey started years ago at a club called Rocks lane. It was here where through the coaching methods used the foundations were laid for me to learn discipline and respect, not just for myself and for my fellow squad players and my coaches but for the game that we call tennis.
          {% endeditable_text %}
        </p>
        <p>{% editable_text title246, hint: "a title", format: raw, rows: 1 %}
          I left Rocks Lane at the age of 18 to attend the Gerry Dippenar Tennis Academy in South Africa. I left this academy having played to a high level ready to embark on my first serious coaching job.{% endeditable_text %}
        </p>
        <p>{% editable_text title247, hint: "a title", format: raw, rows: 1 %}
          For the next ten years, I would spend my time honing my skills as a tennis coach at the Riverside Club in Chiswick where every opportunity was presented to me to work with adult tennis players and junior tennis players of different abilities. During the holidays I would also look after the Tiny Tots Camps and the Multi Sports programme available for the junior players. It was towards the end of my coaching at the Riverside that I helped put in place, alongside Simon Ainley, Head of Performance tennis at the club, the mini tennis red performance academy.{% endeditable_text %}
        </p>
        <p>{% editable_text title248, hint: "a title", format: raw, rows: 1 %}
          Whilst coaching at the Hogarth, I think the defining quality that I can bring to the club is always being mindful of my responsibility as a coach whilst realising that fun is a key element of coaching. Consequently I am able to work with both adults and juniors with equal success and enthusiasm which can be rare in an individual.{% endeditable_text %}
        </p>
        <p>{% editable_text title249, hint: "a title", format: raw, rows: 1 %}
          My future coaching aspirations will be to strive to extend my skills by updating and improving my LTA coaching qualification by attending coach education courses and keeping abreast of current trends and thinking. This I know will keep me ‘fresh’ and ‘enthused’ about tennis and my involvement in the coaching side of it.{% endeditable_text %}
        </p>
        <ul>
          <li>{% editable_text title250, hint: "a title", format: raw, rows: 1 %}
            QUALIFICATIONS:{% endeditable_text %}
          </li>
          <li>{% editable_text title251, hint: "a title", format: raw, rows: 1 %}
            USPTR TENNIS PROFESSIONAL (2000-1){% endeditable_text %}
          </li>
          <li>{% editable_text title252, hint: "a title", format: raw, rows: 1 %}
            LTA DEVELOPMENT COACH AWARD (2005){% endeditable_text %}
          </li>
          <li>{% editable_text title253, hint: "a title", format: raw, rows: 1 %}
            LTA CLUB COACH AWARD (2008){% endeditable_text %}
          </li>
          <li>{% editable_text title254, hint: "a title", format: raw, rows: 1 %}
            LTA SENIOR CLUB COACH AWARD (2010){% endeditable_text %}
          </li>
        </ul>
        <h4>{% editable_text title255, hint: "a title", format: raw, rows: 1 %}Berj Kantarjian{% endeditable_text %}</h4>        
        <p>{% editable_text title256, hint: "a title", format: raw, rows: 1 %}
          Berj has been coaching tennis for over 25 years. He has worked extensively in the UK and abroad: USA, Spain, Portugal and the UAE. The Hogarth has been a place that he has constantly returned to during the summer seasons and more recently throughout the whole year.{% endeditable_text %}
        </p>
        <p>{% editable_text title257, hint: "a title", format: raw, rows: 1 %}
          Tennis Qualifications:{% endeditable_text %}
        </p>
         <ul>
          <li>{% editable_text title258, hint: "a title", format: raw, rows: 1 %}
            LTA Licensed Senior Club Coach{% endeditable_text %}
          </li>
          <li>{% editable_text title259, hint: "a title", format: raw, rows: 1 %}
            USPTR 'Pro'{% endeditable_text %}
          </li>
          <li>{% editable_text title260, hint: "a title", format: raw, rows: 1 %}
            ITF Coaching qualification{% endeditable_text %}
          </li>
          <li>{% editable_text title261, hint: "a title", format: raw, rows: 1 %}
            USRSA (United States Racquet Stringers Association){% endeditable_text %}
          </li>
        </ul>       
                             
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio-17">Pilates with Studio 17</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">{% editable_text title651, hint: "a title", format: raw, rows: 1 %}Sauna{% endeditable_text %}</h3>
            <p>{% editable_text title652, hint: "a title", format: raw, rows: 1 %}Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu{% endeditable_text %}</p>
          </div>  
        </div>

        </div>
      </div>

    </div><!-- Container and row -->
  </div> 



  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title653, hint: "a title", format: raw, rows: 1 %}Membership offer{% endeditable_text %}</h3>
              <p>{% editable_text title654, hint: "a title", format: raw, rows: 1 %}New members in August can take part in a free studio session Join us!{% endeditable_text %}</p>
            </div>  
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">{% editable_text title655, hint: "a title", format: raw, rows: 1 %}Personal training{% endeditable_text %}</h3>
              <p>{% editable_text title656, hint: "a title", format: raw, rows: 1 %}Stay focussed on your goals with a personalised plan from our highly qualified trainers{% endeditable_text %}</p>
            </div>  
          </div>
        </div>
          
      </div>

    </div>
  </div>
  <!-- END Promo panel -->

{% endblock %}