---
title: gym
slug: gym
listed: true
published: true
response_type: text/html
---

{% extends "section" %}

{% block main %}
<div class="landing-bg"></div>
<div class="container landing">
  
{% include section-slider %}

{% editable_text "gym_body", rows: 20 %}

  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="landing-content">
        <h1 class="landing-page-heading">GYM</h1>

        <span class="page-intro">
          We are delighted to announce that Technogym's very latest and premium range of Artis with Wellness gymnasium equipment is now fully installed in the Hogarth gymnasium aka "The Artis Room".
        </span>

        <p>
          ARTIS combines 30 products for cardio, strength and functional training with the seamless Italian design, superior biomechanical engineering, interactive technology through the latest android-based cardio platform called UNITY and eco sustainability, allowing people to reduce, and recycle during their workout to an unparalleled level.
        </p>

        <p>
          The UNITY console also ensures an intuitive, personalised and connected training experience allowing individuals to send emails, watch and catch up on TV, read books and the latest news from any cardio machine whilst mapping fitness details and storing all of them in a personal "Wellness Cloud". Technogym’s UNITY system is even fitted with a web cam allowing users to make video calls with their trainer and Skype their favorite contacts during their workouts.
        </p>

        <p>
          These and numerous other innovative and patented technologies are unique to the Artis equipment, and mark a new level of commitment to Wellness by Technogym and now Hogarth. The technology behind the Artis gymnasium equipment allows our Personal Trainers and members to track and monitor what they do in the Club, at home or anywhere in the world. It is this additional capability that enables us to stay connected beyond the Club and help us support the busy and stressful lifestyles our members often lead. Ultimately, we feel we have the best tools to help our members achieve regular physical activity, optimum nutrition and a positive mental attitude; these are the cornerstones of Welllness.
        <p>
      </div>
      <div class="underneath" data-set="landing-nav"></div>
    </div>


    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="landing-content">
        <h1>The Hogarth Wellness Guide</h1>
        <h4>Preparing for your Wellness Consultation</h4>
        <ul>
          <li>Please arrive punctually for your appointment</li>
          <li>Do not eat or drink (tea, coffee and alcohol) for at least 2 hours prior to your consultation and preferably longer. However, please drink plenty of water</li>
          <li>Do not exercise or use the sauna, steam or Jacuzzi</li>
          <li>Do not smoke for at least 2 hours before your appointment</li>
          <li>Wear loose fitting clothing</li>
          <li>Please contact us as soon as possible if you are unable to attend your appointment so we can reschedule it with you.</li>
        </ul>

        <p>WELLNESS – WHAT IS IT?</p>
        <img src="https://hogarth-cms-production.s3.amazonaws.com/sites/545b3ba9046f603edf000002/theme/images/original.JPG" />
        
        <p>
          It is our aim to help you live a better quality of life by promoting a lifestyle of Wellness. This involves engaging in physical activity and regular exercise, eating balanced and healthy meals and being mentally positive. Hogarth offers fantastic knowledge, experience and services to convey the benefits of regular exercise and a healthy lifestyle to you.
        </p>
        <h4>THE BENEFITS OF WELLNESS INCLUDE</h4>
        <ul>
          <li>Living longer</li>
          <li>More energy
          </li>
          <li>Greater efficiency at work</li>
          <li>Physical, mental and social wellbeing</li>
        </ul>  
        <p>
          The Wellness Pyramid illustrates how combining various elements together can help you achieve an holistic Wellness approach.
        </p>
        <img src="https://hogarth-cms-production.s3.amazonaws.com/sites/545b3ba9046f603edf000002/theme/images/original1.JPG" />

        <h2>Your Wellness Journey</h2>
        <p>
          The Hogarth Group has elected to partner with Technogym to offer the ultimate Wellness experience to members: Wellness on the Go, the ability to experience Wellness anywhere, at any time
        </p>

        <p>
          Your Wellness journey will initially focus around getting you active and exercising regularly at the Club - in the gymnasium, in the studio classes, other options such as swimming, tennis or squash and other outdoor sports and activities that are available at various times of the year including cycling and running.
        </p>

        <p>
          Your physical activity, exercise and other lifestyle behaviours outside of the Club can also be explored. A mywellness cloud (www.mywellness.com) account can be created to give you the ability to track your workout performance, movement levels and progress. It is a cloud based portal that stores all of your data for easy access and analysis, both by yourself and your Personal Trainer.
        </p>  

        <p>
          Other aspects of a Wellness Lifestyle, such as Nutrition, Stress Management, Injury Care and Prevention, can also be considered and built into your Wellness Plan.
          
        </p>

        <h4>Wellness Consultation</p>
        <ul>
        <li>Medical suitability to exercise</li>
        <li>Choose what elements of a Wellness lifestyle to change and how</li>
        <li>Developing motivation and confidence to build a Wellness lifestyle</li>
        <li>Formulating your exercise plan: at the Club, at home, at work, on holiday...anywhere in the world
        </li>
        </ul>
        <p></p>
        <p></p>
        <h2>Personal Trainer; Wellness 1</h2>
        <p></p>
        <p></p>
        <ul>
        <li>Your Wellness Record</li>
        <li>Cardiovascular exercise</li>
        <li>Personalised entertainment</li>
        <li>Stretching and mobility</li>
        </ul>
        <p></p>
        <p></p>
        <h2>Personal Trainer; Wellness 2</h2>
        <p></p>
        <p></p>
        <ul>
        <li>Your Wellness Record</li>
        <li>Cardiovascular exercise refresher</li>
        <li>Resistance training systems and technique</li>
        <li>Exercise classes</li>
        </ul>
        <p></p>
        <p></p>
        <h2>Personal Trainer; Wellness 3</h2>
        <p></p>
        <p></p>
        <ul>
          <li>Your Wellness Record</li>
          <li>Cardiovascular exercise – review workload & progression</li>
          <li>Resistance training – review workload & progression</li>
          <li>Review motivation and confidence to exercise</li>
        </ul>
        <p></p>
        <p></p>
        <h2>Personal Trainer; Wellness 4</h2>
        <p></p>
        <p></p>
        <ul>
          <li>Your Wellness Record</li>
          <li>Interim review of exercise plan, workloads & progression</li>
        </ul>
        <p></p>
        <p></p>
        <h2>Wellness Consultation Review</h2>
        Your choice from:
        <p></p>
        <p></p>
        <ul>
          <li>Personal Trainer Consultation Room Session</li>
          <li>Personal Trainer Gymnasium Session</li>
          <li>Exercise, Nutrition & Weight Loss</li>
          <li>Exercise & Special Populations e.g Pregnancy</li>
          <li>Exercise & Heart Disease</li>
          <li>Injury Prevention & Rehabilitation</li>
          <li>Smoking Cessation</li>
          <li>Any other Wellness or Lifestyle matter!</li>
        </ul>
        <p></p>
        <p></p>
        <h1>The Technogym Wellness Ecosystem</h1>
        <p></p>
        <p>Your fantastic team of Personal Trainers will always be available to help you get the most from this amazing system. You can benefit from “Wellness on the go” both in the Club and out, and use as much or as little of the technology as you choose. </p>
        <h2>The choice is yours.</h2>
        <p></p>
        <p>Access your exercise plan and collect your activity data the way you want to.</p>
        <p>As a Club member it has never been easier to log in and access your exercise plan, be guided round the gymnasium and capture your exercise data to monitor your progress. </p>
        <p>The mywellness cloud (www.mywellness.com) is a one-stop online portal that stores all your personal training data, which you can view and analyse wherever you like. You can log in and collect data through a username and password or through a Technogym device - the choice is yours.</p>
        <p>For members in the Club it has never been easier to log in and capture exercise data. Mywellness cloud offers ascalable solution that allows members to use the collection method they prefer:</p>
        <p></p>
        <h2>1. Log in using USERNAME and PASSWORD.</h2>
        If you just want basic tracking, simply enter your username and password to log into your mywellness account.
        <p></p>
        <p></p>
        <h2>2. Log in using a TECHNOGYM KEY.</h2>
        The Technogym key is a really smart device that allows you to track your training programme and progress. Just check in and go!
        <p></p>
        <p></p>
        <h2>3. Log in using a MYWELLNESS KEY.</h2>
        The mywellness key takes monitoring your health and fitness to another level. It uses the same technology as the Technogym key to collect and monitor your training, but it also has an accelerometer which allows you to track your daily activity
        <p></p>
        <p></p>
        <h2>4. Log in with your SMART PHONE.</h2>
        If you have an iPhone or an Android phone you can download the mywellness app and use your smartphone to log in. The iPhone uses a QR Code reader, and Android phones use Near Field Communication technology (NFC) - just touch your phone on the NFC sign. Whilst away from the Club
        <p></p>
        <img src="https://hogarth-cms-production.s3.amazonaws.com/sites/545b3ba9046f603edf000002/theme/images/original2.JPG" />

        <p>Mywellness cloud offers access to your activity and lifestyle information wherever you are and wherever you like:</p>
        <p>In the gym: using UNITY, the digital interface on Technogym cardiovascular, strength and functional equipment or on VISIOSELF interactive touch screen kiosks located on the gym floor.</p>
        <p>On the move: from a smartphone using the mywellness mobile application or with a tablet or a PC using the mywellness.com website.</p>

        <img src="https://hogarth-cms-production.s3.amazonaws.com/sites/545b3ba9046f603edf000002/theme/images/original3.JPG" />
       
        <p>       
          Call us today to arrange a personal guided tour:
          020 8994 0500
        <p>
      </div>  
    </div>
  </div> 
</div>
{% endeditable_text %}
{% endblock %}