---
title: squash
slug: squash
listed: true
published: true
response_type: text/html
---

{% extends "section" %}

{% block "main/section" %}
{% editable_text "tenis_body", rows: 20 %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="landing-content">
        <h1 class="landing-page-heading">SQUASH</h1>
        <p>
          Squash has been a part of The Hogarth Group since the late 1960's. The Hogarth's squash court is used extensively by members and some staff (we have a couple of ex National and County ranked players in our midst!)
        </p>
        <p>
          Squash is an intense game. It is both physically and mentally challenging. Most of all though, it's great fun. Courts at the Hogarth can be booked 7 days in advance and there is no charge. Every week from 6pm until 10pm on a Friday there is Squash Club Night. The courts are all booked out so that players can turn up and join in a social game of squash with the intention of meeting players of similar standards, followed up by the consumption of beer in the Bar afterwards perhaps?
          
        </p>
        <p>
          Each year we run the Hogarth Squash Tournament held over 1 evening on a knockout basis. Members compete for the Hogarth Cup. For those members who wish to compete all year long, we have a Squash ladder. This allows members to challenge each other, thereby vying for the top position on the ladder.
        </p>
        <p>
          The squash season begins in September. If you would like to participate in the next tournament please speak to reception.
        </p>
      </div>
      <div class="underneath" data-set="landing-nav"></div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="landing-content">
        <h4>Terms and Conditions for booking Tennis and Squash courts</h4>
      <ul>
        <li>
          1/ Tennis and Squash courts may be booked 7 days in advance either in person or over the phone according to the times their membership permits them access to the club.
        </li>
        <li>
          2/ A member may book a maximum of 1 court at a time. If another court is required then we require the name of your partner who must also be a member.
        </li>
        <li>
          3/ All members must report to Reception on arrival at the Club prior to going on to court to confirm their attendance and use of the court. Failure to do so could result in the booking being recorded as a ‘no-show’.
        </li>
        <li>
          4/ If a member accrues 3 ‘no-shows’ in any 12 month period they will be suspended from making bookings for one month.
        </li>
        <li>
          5/ We require a minimum of 24 hours notice for a court to be cancelled unless mitigating circumstances exist.
        </li>
        <li>
          5/ The member who has made the booking must be present on court at the time it is booked for play. Court bookings cannot be transferred to other members without being updated on the Club’s booking system.
        </li>
        <li>
          6/ If a member does not show up within 15 minutes of the start of the court booking time, the court will be made available for any member to use on a ‘walk-on’ basis in accordance with their terms and conditions of membership access. To book a ‘walk-on’ court a member will report to Reception and enquire about any courts that are available and if so, the court will be booked in their name.
        </li>
        <li>
          The above terms and conditions will be reviewed from time to time to take in to consideration member feedback, usage trends and are at all times subject to Management’s discretion. Thank you for helping us to safeguard booking integrity.
          
        </li>
      <ul>        
    </div>
  </div>
  </div>
  {% endeditable_text %} 
{% endblock %}