---
title: swimming
slug: swimming
listed: true
published: true
response_type: text/html
---

{% extends "section" %}

{% block "main/section" %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="landing-content">          
          {% editable_text "swimming_body", rows: 20 %}
          <h1 class="landing-page-heading">SWIMMING</h1>

          <span class="page-intro">The swimming pool is 18 metres in length with a level depth providing the perfect balance for training, aqua aerobics and relaxation.
          </span>

          <p>
            At night, the swimming pool is mood lit to create a tranquil, relaxing environment that allows you to wile away the stresses of the day. Lorem ipsum dolor sit amet, Spa Pool adipiscing elit. Proin gravida massa quam, ac rutrum sem porttitor in. Integer augue lectus, fringilla id dui et, fringilla consequat est.
          </p>

          <p>
            Pellentesque rutrum sapien ante, sit amet inte rdum turpis consectetur ulla amet, consectetur adipiscing elitmcorper etiam at Steam Room, ornare arcu eget, tincidunt lectus.
            Etiam vel ultrices turpis. Etiam lacinia eros ut nisi</p>

          <p>
            consectetur hendrerit. Maecenas vel lectus ipsum Proin gravida massa quam, ac rutrum sem portti tor in. Integer augue lectus, fringilla id dui et, fringilla consequat est.
            Pellentesque rutrum sapien ante, sit amet inte rdum turpis consectetur ulla amet, consectetur adipiscing elitmcorper etiam at we
            <p>
          {% endeditable_text %}   
        </div>
        <div class="underneath" data-set="landing-nav"></div>
      </div>


     <div class="col-md-8 col-sm-6 col-xs-12">

        <div class="row">

        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="landing-content">
            {% include promo-top %}
            {% include promo-middle-left %}
          </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="landing-content landing-content-no-margin">

          <div class="onright" data-set="landing-nav">

          <div class="inpage-navigation">
            {% editable_text "swimming_quick_links", rows: 20 %}
            <h3 class="inpage-navigation-heading">Pool Activities</h3>
            <ul class="inpage-navigation-ul">
              <li class="inpage-navigation-li"><a href="achildpage.html">Water Aerobics</a></li>
              <li class="inpage-navigation-li"><a href="achildpage.html">H20 Workout</a></li>
              <li class="inpage-navigation-li"><a href="achildpage.html">Training</a></li>
              <li class="inpage-navigation-li"><a href="achildpage.html">Another activity</a></li>
            </ul>  
            {% endeditable_text %} 
          </div>
        </div>

        {% include promo-middle-right %}

        </div>
      </div>

    </div>
    </div>

    </div><!-- Container and row -->
  </div> 
{% endblock %}