---
title: beauty-products
slug: beauty-products
listed: true
published: true
cache_strategy: simple
response_type: text/html
---

{% extends "content" %}

{% block main %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
      {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->

{% editable_text "beauty_products_body", rows: 20 %}
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">Beauty Products</h1>
        <p>
          Having selected choice brands from around the world for our treatments, Hogarth Spa clients can purchase retail stock directly from the club at highly competitive prices.
        </p>
        <p>
          Here are a selection of the latest products available.
        </p>
          <h4>Women's Products</h4>
        <p>
          Multivitamin thermafoliant: this is a powerful skin polisher with age fighting vitamins. It heats up upon contact with skin.
        </p>
        <p>
          We have just received the new, ultra-calming range of products from Dermalogica. The ingredients include ginger extract, oat kernal and red hogweed. These are good for skins that sometimes experience itching, burning, stinging and redness. The ultra-calming range will help to reduce redness while soothing irritation, giving lasting relief.
        </p>
         <p>Products include:</p>
         <ul>
           <li>
            Ultra-calming cleanser
           </li>
            <li>
              Ultra-calming mist
           </li>
            <li>
              Ultra-calming serum concentrate
           </li>
           <li>
              Ultra-calming relief masque
           </li>
         </ul>
          <h4>Men's Products</h4>
          <p>
            Daily clean scrub: exfoliating cleanser that removes dulling surface debris and helps to lift the beard for a close shave. 
          </p>
           <p>
            Pre-shave guard: Preps skin for shaving and especially good for heavy course beards. 
          </p>
           <p>
            Soothing shave cream: great lubrication cream for dry and sensitive skin. Gives a close shave. 
          </p>
           <p>
            Invigorating shave gel: Delivers a close shave for oily skins. Soothes cools and softens. 
          </p>
           <p>
            Close shave oil: This acts as a cushion between the skin and razor leaving it ultra smooth.
          </p>
           <p>
            Post shave balm: reduces discomfort and redness on skin. Moisturises and soothes and shortens post shave recovery time.
          </p>
           <p>
            Daily defence block spf 15: Light weight formula. Conditions skin and promotes skin recovery. Beats dryness and leaves shine free and healthy skin.
          </p>
                                       
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/section/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/section/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/section/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/section/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
  {% endeditable_text %}  
{% endblock %}