{% extends parent %}

{% block main_content %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">Facials</h1>
 					<p>
 						At The Hogarth we provide the very best in facial care, providing a choice of three top brands: Sothys, Dermalogica and Voya. 
 					</p>
				<h4>DERMALOGICA
        </h4>
					<p>
						These treatments combine the latest in skin analysis techniques with the proven results of Chinese Diagnosis. The Face Mapping procedures provides you with an objective view of the skin’s condition, as well as an indication of the underlying issues that might be effecting it.
					</p>
          <p>
            "The day skin changed forever"
          </p>
          <p>
            When dermalogica meets skin, skin health is redefined. Our promise to you is that your skin will never have felt as clean or as healthy as after one of our professional treatments.
          </p>
				<h4>Dermalogica Facial Treatment Allow 1hr £58</h4>
					<p>
						The dermalogica skin treatment is 100% customised to your skin’s needs based on a consultation and skin examination. Each professional treatment includes a double cleanse, exfoliation, steam and extraction, massage, mask and skin protection. You will receive a hand, foot or scalp massage while your mask is on.
					</p>
				<h4>Express Facial Treatment Allow 30min £38</h4>
					<p>
						This facial is designed as an introduction to dermalogica. We will start with a double cleanse, exfoliation, steam and a prescription mask and skin protection. This facial is perfect for people on the go.
					</p>
        <h4>As dermalogica professionals we may choose from the following dermalogica lines to create the ultimate skin result:</h4>
				<h4>4Medibac clearing treatment – acne clearing facial. Allow 1hr £58
        </h4>
					<p>
						It's the end of the road for adult acne with this powerful line of products that will jump start acne clearing and help prevent acne well beyond the treatment.</p>
					<h4>Age Smart treatment – anti ageing facial.Allow 1hr £58</h4>
					<p>
						Are the signs of ageing more prevalent on your skin ? Age Smart will give it a revitalising power boost to firm, smooth, nourish, regenerate and energise while controlling the biochemical triggers that lead to skin ageing.
            
					</p>
				<h4>Ultra Calming treatment – calming facial. Allow 1hr £58</h4>
					<p>
						UltraCalming facial treatment. Allow 1 hour £55 Serious relief for sensitised skin that calms soothes and replenishes aggravated, irritated and inflamed skins.
					</p>
				<h4>Chromowhite TRx treatment – skin brightening facial. Allow 1hr £58</h4>
					<p>
						Accelerate brightening, improve skin tone, enhance skin clarity and create a fresher, healthier appearance with this effective treatment. Powerful exfoliants smooth skin and slough off dulling surface cells, helping to minimize the appearance of sun and age spots. Botanical extracts help treat and prevent cellular discolouration for unsurpassed brightening and tonal balance. Intense moisturisation helps smooth fine dryness lines, improve barrier protection, nourish skin and shield against further environmental damage.
					</p>
          <h4>Accelerator 35 facial. Allow 45 minutes. £50</h4>
					<p
            Looking for dramatic results fast? Active resurface 35 provides intensive resurfacing for ultra smooth skin.
					</p>
          <p>
            Specifically designed for advanced skin care users who need the ultimate in active treatment. Targets a range of skin care concerns from premature ageing to pigmentation and scaring.
          </p>
          <h4>SOTHYS OF PARIS </h4>
          <p>
            We use the exclusive Sothys of Paris products that maximise the natural beauty of any skin type. In order for us to determine the best Sothys facial for your skin type we recommend that you book an extra 15 minutes with your first facial. 
          </p>

          <h4>Hydrovance - Pure hydration Allow 1hr £58</h4>
            <p>
              Relief from persistent dehydration is instantly achieved during this facial. It revitalises your skin and helps to reduce the first signs of ageing. We use cosmeceutical ingredients for deeper hydration to the skin.
            </p>

          <h4>Collagen Hyaluronique Allow 1hr and 15mins £66</h4>
            <p>
              This intense treatment combines Sothys cosmeceutical complex with major anti-age active substances meeting the specific needs of various stages of ageing. A targeted and effective response for radiant, youthful skin.
              
            </p>
          <h4>Immuniscience - Gentle and soft Allow 1 hr £58</h4>
            <p>
              We often experience skin sensitivity during times of stress. This kind and gentle facial is ideal for those of us who wish to relax and have concerns about sensitive skin.
            </p>
          <h4>Active Eye Contour Treatment Allow 30min £38</h4>
          <p>
            A triple action treatment targeting the appearance of wrinkles, circles and bags around this delicate area.
          </p>
          <h4>Sothys Resurfacing, Peeling treatment Allow 1 hr £58</h4>
          <p>
            This facial uses 20% glycolic acid and micro-crystals of corundum to eliminate dead cells and stimulate cell renewal. This facial is recommended for oily, dull, tired and dry skins. It is also good for people concerned with wrinkles and fine lines. After just one treatment your skin will feel smooth, radiant and soft. Certain skin conditions may not be suitable so if in doubt please book a complimentary skin consultation.
          </p>
          <p>
            hoose from a Glycolic Peel Facial for a double exfoliation or Flash Beauty Express Facial.
          </p>
          <p>
            e.&o.e.
          </p>
          
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}