{% extends parent %}

{% block main %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">Jessica Nail Treatments</h1>
 					<p>
 						We begin with an analysis of your nails to decide which of the Jessica care products will best suit you. These natural products will promote long, beautiful natural nails in weeks.
 					</p>
				<h4>Jessica Express Manicure / Pedicure Allow 30 minutes £24</h4>
					<p>
						These treatments include having your feet/hands soaked and nails cut and shaped and either nails painted or cuticle work.
					</p>           
				<h4>Jessica Manicures Allow 45 minutes £32</h4>
					<p>
						Using Jessica’s prescriptive treatment we analyse, condition and perfect your nails. The final effect is beautiful, long lasting natural nails.
					</p>
				<h4>Jessica Pedicures Allow 45 minutes £32</h4>
					<p>
						Using Jessica zen spa products we target hard skin on the feet and cuticles. This treatment includes soaking of the feet, hard skin and cuticle work, nail cutting and filling and painting. Also includes a foot massage.
					</p>
        <h4>Jessica Luxury Manicures Allow 1 hour £41</h4>
					<p>
						A Jessica prescriptive treatment with heated mittens or booties that lead to deeper penetration of rich conditioning oils and creams. The result is softer cuticles and immaculate nails.				
				<h4>Jessica Luxury Pedicures Allow 1 hour £41</h4>
					<p>
						A prescriptive treatment with heated booties that leads to deeper penetration of the products. Great for cuticles. Finishes with a varnish of your choice.
					</p>
				<h4>Jessica Re-Varnish Allow 15 minutes £16</h4>
        <h1>Jessica Geleration</h1>
					<p
						Geleration is a Jessica soak off gel polish. With the health of the nail in mind, gelerations gel formula delivers a long lasting, flawless finish that dries in seconds and protects the natural nail. It lasts for up to 2 weeks.
            
					</p>
          <h4>Geleration manicure Allow 1hour £40</h4>
          <h4>Geleration manicure and removal 1hr 30 min £52</h4>
          <h4>Removal 30 minutes £14</h4>
					<p>Helpful Tip: Always wear flip flops for a Pedicure.</p>
          <p>e.&.o.e</p>
          
          
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>7Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}