---
title: mother-to-be
slug: mother-to-be
listed: true
published: true
cache_strategy: simple
response_type: text/html
---

{% extends "content" %}

{% block main %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
      {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->

  {% editable_text "mother_to_be_body", rows: 20 %}
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">Mother-to-be</h1>
          <p>
            The following treatments are specially designed for pregnancy. We advise you wait until the second trimester before you start treatment.
          </p>
        <h4>Mother-to-Be Package Allow 1hr 30min £75</h4>
          <p>
            This treatment incorporates a special 30min pregnancy massage followed by a Jessica Luxury manicure or pedicure.
          </p>           
        <h4>2 hour Voya indulgence. Allow 2 hours. £100</h4>
          <p>
            This treatment package is the ultimate in relaxation. Choose from either the Lavender seaweed sugar glow body treatment or the Stimulating seaweed body buff treatment. We will then finish off your treatment with our Hogarth signature organic Voya facial.
          </p>
        <p>e.&o.e.
        </p>
                 
          
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/section/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/section/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/section/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/section/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
  {% endeditable_text %}  
{% endblock %}