---
title: voya-facials-body-treatments
slug: voya-facials-body-treatments
listed: true
published: true
cache_strategy: simple
response_type: text/html
---

{% extends "content" %}

{% block main %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
      {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">VOYA Facials & Body Treatments</h1>
          <p>
            Voya’s revolutionary range of certified organic facial products is a showcase of how the best science can release nature’s most powerful resources for your benefit and still protect the earth.
          </p>
          <p>
            Our anti ageing facial range is specifically designed to aid skin regeneration, help the visible signs of ageing, slow the signs of premature ageing, hydrate the skin, increase the firmness through collagen production and produce the appearance of fine line and wrinkles.
          </p>
          <p>
            Voya is soil association certified organic seaweed all sustainably hand-harvested seaweed from the west coat of Ireland and is opposed to the practice of animal testing in cosmetic research.
          </p>
        <h4>VOYA FACIALS
        </h4>
        <h4>Voya Organic Anti ageing Restorative Facial Allow 1hr 15mins £63</h4>
          <p>
            Suitable for all skin types though of particular benefit to mature, dry or dehydrated skins. A Skin rejuvenating facial uses a combination of anti oxidant algae complexes, pro-collagen and a blend of organic ingredients to help fight the signs of ageing, hydrate and plump the skin. A powerful, nutrient rich facial. This includes a scalp massage.
          </p>
        <h4>Voya Organic Purifying Defense Facial Allow 1hr 15mins £63</h4>
          <p>
            This facial is suitable for all skin types though particular oily and congested skins. This treatment starts with a back treatment to leave the skin purified and hydrated. A double cleanse technique will work t eliminate toxins and rebalance the skin, includes a hot a cold cleanse, massage and lymphatic drainage and marine mask with hand harvested seaweed leave strips. This includes a scalp massage.
          </p>
        <h4>NEW Voya Organic Herbal Lift Facial Allow 1hr 15mins) £63</h4>
          <p>
            Our Herbal Lift is a unique facial treatment that encapsulates all the goodness of the sea and organic herbs Rosehip, Green tea and Chamomile. This one facial treatment will lift, firm and will leave your skin with a radiant glow. Infused with mineral rich seaweeds, one of natures most powerful anti-oxidants. This treatment is complimented with an age defying eye treatment using marine eye compresses of Laminara digitata to improve fine lines, puffiness and decongested.
          </p>
          <h4>The Hogarth signature organic Voya facial. Allow 1 hour. £58</h4>
          <p>
            Our signature facial uses a combination of anti- oxidant rich algae complexes and pro collagen which will benefit people concerned with ageing. This facial includes a deep cleansing steam and extraction.
          </p>
        <h4>VOYA BODY TREATMENTS</h4>
        <h4>Lavender and seaweed sugar glow Allow 1 hour £60</h4>
          <p>
            This treatment uses a medley of ingredients including organic lavender buds and organic sugar to invigorate, exfoliate and nourish the skin. Afterwards you enjoy a light cleansing shower and a short relaxing massage. The gentle aromatic body scrub melts tired muscles and soothes and softens the skin.
            
          </p>
        <h4>Stimulating seaweed body buff. Allow 1 hour £60</h4>
          <p>
            Our certified organic Bladder Wrack body buff is the ultimate treat for tired and dull skin. The anti oxidants of the mineral rich Bladder Wrack seaweed combined with pure seaweed oils offers a powerful organic way to better skin. The body scrub is followed by a light cleansing shower and a short relaxing massage. The ground down seaweed is a strong exfoliator that stimulates the skin.
          </p>
          <h4>Tangle me up body wrap. Allow 1 hour £62</h4>
          <p>
            This all over body treatment revitalises the skin, by body brushing and hot towel cleansing then relaxes tired and lethargic muscles and relieves stress and fatigue. Anti oxidant compounds help to fight the signs of aging. Voyage body wrap uses Laminaria seaweed gel to hydrate and condition. It includes a scalp massage.
          </p>          
          <h4>Organic seaweed leaf wrap Allow 1 hour and 30 minutes £80</h4>
          <p>
            Thus is the crème de la crème of body wraps. This treatment uses fresh leaves of atlantic seaweed to cocoon the body to deeply detoxify, moisturise, soften and revive the body. The treatment begins with finely ground down seaweed to exfoliate then continues with Irish seaweed leaves to bandage the body then a relaxing scalp massage while the leaves work there magic with immediate effect.
          </p>
          <h4>Detox herbal bag massage Allow 1 hour and 30 minutes £80</h4>
            <p>
              Soaked warm bags containing a combination of the finest herbs and seaweed are deeply massaged into the body. The process reconditions and rejuvenates your skin by gently exfoliating the outer layers and nourishing deep within. Choose between calming chamomile, reviving peppermint or stimulating fennel. The herbal bags offer a relaxing way to detox as the seaweed gel is a powerful anti oxidant.
            </p>

          <h4>Voya back treatment. Allow 45 minutes £48</h4>
            <p>
              This treatment starts with a deep cleanse and exfoliation of the back using ground down seaweed, we will then steam the skin on the back and do extractions if needed. We will apply a laminaria seaweed mask and moisturise to finish the treatment.
            </p>
            <p>e.&o.e.
            </p>
          
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/section/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/section/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/section/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/section/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}