---
title: aesthetic-surgery-clinic
slug: aesthetic-surgery-clinic
listed: true
published: true
cache_strategy: simple
response_type: text/html
---

{% extends "content" %}

{% block main %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">Aesthetic Surgery Clinic</h1>
 					<p>
 						The Aesthetic Surgery Clinic moved from Harley Street to the Hogarth Club in 2009. We are situated within the Spa and offer all of our services to members at a 10% discount. Non members are also welcome.
 					</p>
          <p>
            Our team is led by Dr Alan Kingdon, he has specialised in fat removal for over 20 years and has performed more than 15,000 procedures. We also have a very experienced female surgeon who specialises in Breast Enhancement & Facial Surgery.
          </p>
          <p>
            Procedures available at our clinic include:
          </p>
          <ul>
            <li>Botox</li>
            <li>Dermal Fillers</li>
            <li>Lip & Cheek Enhancement</li>
            <li>Advanced Laser Lipolysis</li>
            <li>Thread Vein Removal</li>
            <li>IPL Permanent Hair Reduction</li>
            <li>Ellipse IPL for sun damage, pigmentation & acne</li>
            <li>VelaShape II for inch loss, skin tightening and body contouring</li>
            <li>Mole & Cyst Removal</li>
          </ul>
					<p>
						We offer complimentary, discreet consultations where you can discuss your concerns with the relevant specialist. For more information please contact us directly on 020 8747 4746 or visit our website:<a href="#">www.aestheticsurgeryclinic.co.uk</a>
					</p>
				
      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/section/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/section/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/section/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/section/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>

        </div>
      </div>

    </div><!-- Container and row -->
  </div> 



  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>
          
      </div>

    </div>
  </div>
  <!-- END Promo panel -->

{% endblock %}