---
title: chiropractor
slug: chiropractor
listed: true
published: true
cache_strategy: simple
response_type: text/html
---

{% extends "content" %}

{% block main %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">Chiropractor</h1>
 					<p>
 						Chiropractic procedure is directed at evaluating causative factors in the biomechanical and structural derangements of the spine, which can affect the nervous system and the body's natural defence mechanism. It seeks to restore the spinal structural integrity, which has an effect on the total health of the individual. Doctors of Chiropractic do not elect to utilise drugs or surgery in their practice; however, there are times when they recommend that a patient consult another practitioner if other methods of treatments are indicated.
 					</p>
          <p>
            The first visit will involve a full case history, a thorough orthopaedic, neurological and chiropractic examination to identify the cause of the condition. By analysis of the orientation of the spine joints, muscles and ligaments, problems can be diagnosed and appropriate corrective treatments given for many conditions, including lumbago, "slipped discs", herniated discs, sciatica, neck, shoulder and arm pain, headaches and migraine, dizziness, "pins and needles" numbness, period pain, arthritis, hip and knee problems and muscular aches and joint pains. Asthma and bed-wetting can also be treated on young adults and children.
          </p>
				<h4>Laurie Launay: Chiropractor</h4>
					<p>
						I qualified as a Chiropractor from the chiropractic University in Atlanta (USA) in March 1993. After gaining experience working in a private practice in Atlanta over a 6 year period I came over to England and settled in London in 1999.
					</p>
					<p>
						I am registered with the General Chiropractic Council and the Scottish Chiropractic Association. Since graduating I have expanded my skill sets and experience with post-graduate studies in various techniques such as Cranial Therapy Treatment during pregnancy and I am certified in Chiropractic Paediatric by the I.C.P.A (International Chiropractic Paediatric Association). Over the past 15 years I have gained extensive experience in treating a large cross section of the community including, infants, children, the elderly and pregnant women.
					</p>
				<h4>Do I need Personal Training Xtra?</h4>
					<p>
						I am extremely passionate about chiropractic treatment and I find it very gratifying to see a patient’s health improve through a non-invasive treatment. The ultimate satisfaction is to see patients recognizing the benefits to their general well-being that Chiropractic treatment offers. With long term treatment and a maintenance program the benefits can be life long. I have been following some of my patients for almost a decade since I set up in London. I believe that optimum health can be achieved with a well balanced life style including a healthy spine and cranium along with good balanced nutrition, good hydration and regular exercise.
					</p>
				

      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/section/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/section/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/section/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/section/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>



        <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}