{% extends parent %}

{% block main %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">Physiotherapy</h1>
        	<p>
 						Physiotherapy is a comprehensive service specialising in dance and sports injuries together with back and neck care, and joint, muscle and ligament problems that can result from any day-to-day activities. Treatment focuses on pain relief, early recovery and the teaching of corrective exercises, helping the patient to understand the problem and promoting confidence on return to exercise.
 					</p>
					<p>
						Physiotherapy assesses and treats symptoms resulting from injury, or those which develop from poor postural habits that stress joints, ligaments, muscles, soft tissue and nerves. An expert knowledge of body mechanics and function is used to identify the origin of symptoms. Many therapy skills and techniques are used: manipulative therapy; postural advice; mobilisation therapy; electrotherapy; and soft tissue techniques. Corrective exercises are used to restore the balance between weak muscles and tight structures. Prevention of further symptoms is achieved with the prescription of exercises, advice and suggested changes to training programmes and office ergonomics. Each programme is tailor-made.
					</p>
				<h4>Louise Jewers - Physiotherapist</h4>
					<p>
						Louise SRP MMACP is a chartered State Registered Physiotherapist. She qualified in 1980 from the Middlesex Hospital, London. Since then she has worked within the health service, private sector and within a rugby club.
            
					</p>
					<p>
						During this time she has been involved in the treatment of sports injuries, including 10 years association with Rosslyn Park Club which required on site first aid and diagnosis. Her other key clinical interests include the treatment of spinal conditions, manipulation and mobilisation of joints, soft tissues and nerves; posture and back care education, corrective exercises and preventative advice.
					</p>
					<p>
						Louise is a member of the Manipulative Association of Chartered Physiotherapists and has been a clinical tutor and examiner for this organisation. She is also a member of PhysioFirst, the organisation for Physiotherapists in Private Practice.
					</p>
          <p>
            For further information, please visit
          </p>
          <h3>www.louisejewersphysio.co.uk</h3>
					

      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/section/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/section/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/section/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/section/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

         <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}