{% extends parent %}

{% block main %}
<div class="container landing">
  <div class="row content-row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
	    {{ 'main-content-image.jpg' | theme_image_tag: 'alt:main-slider width:100%' }}
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="standard-content standard-content-area">
        <h1 class="standard-page-heading">Pilates - STUDIO</h1>
        <h4>Who are we?
        </h4>
 					<p>
 						Introducing Graeme and Lysta Reardon, a dedicated husband and wife team with a combined experience of over 23 years who will work an individual programme for your specific needs.
 					</p>
				<h4>What do Studio 17 offer?</h4>
        <ul>
            <li>One to One Mat Pilates - improves posture, de-stresses & strengthens core.</li>
            <li>One to One Reformer Pilates - use of equipment provides increased control and enhanced challenge.</li>
            <li>One to One Ante natal: Preparing your body for labour & maintaining your figure during pregnancy.</li>
            <li>One to One Post natal: returning your body to its pre-natal state by strength & core stability exercises. Creche facility available for members.</li>
          </ul>
        <h4>Where are we?</h4>
          <p>
						Studio 17 now have a bespoke studio located within The Hogarth Health Club, adjacent to the main gymnasium. This ground floor studio boasts the very latest reformer equipment.
					</p>
					<p>
						Pilates can be especially useful in dealing with:
					</p>
          <ul>
            <li>Regular back pain</li>
            <li>Shoulder and neck issues</li>
            <li>Sciatica
            </li>
            <li>Stress
            </li>
            <li>Joint problems</li>
            <li>Osteoporosis</li>
            <li>Enhances sports performance</li>
          </ul>
					<p>
						Pilates is particularly beneficial in the rehabilitation of clients who are post operative/post injury and for muscular and skeletal issues and great for ante and post natal women.
					</p>
				<h4>Classes and prices:</h4>
					<p>
						Mat work Pilates is taught on a one-to-one or small class basis. Each class lasts an hour and all equipment is provided. Class sizes are a maximum of 2 clients ensuring close attention can be paid to each client during the session. One-to-one sessions, can also be shared with a partner or colleague.
					</p>
          <p>
            Mat work classes one-to-one are £50 per hour or £30 per person shared.
          </p>
          <p>
            Pilates reformer equipment sessions are £55 per one-to-one session or £30 each for a shared session.
          </p>				
				<h4>Ante and post natal services</h4>
					<p>
						These again run on a one-to-one or shared session basis. Créche facilities are available subject to a settling in period and extra cost.
					</p>
					<p>
						The benefits include: Improved posture, return of pre-pregnancy muscle tone, prevention of the backache associated with lifting babies and breast feeding.
            
					</p>
					<p>
						Please note that the studio runs an appointment only system. Discounts are available for block bookings, please call or email for details and a class timetable.
					</p>
					<p>
						Please leave your details at The Club reception or email us on studio17pilates@hotmail.co.uk
					</p>


      
      <div class="page-end"></div>

      <div class="inpage-gallery"></div>
      

      </div>
      </div>

      </div>
     </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="standard-content standard-content-no-margin">

        <div class="inpage-navigation inpage-navigation-content">
          <ul class="inpage-navigation-ul">
            <li class="inpage-navigation-li"><a href="/sections/gym">THE GYM</a></li>
            <li class="inpage-navigation-li inpage-navigation-li-active"><a href="/sections/gym/personal-training">Personal Training</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/metabolic-profiling">Metabolic Profiling</a></li>
            <li class="inpage-navigation-li"><a href="/sections/gym/pilates-with-studio">Pilates with Studio</a></li>
          </ul>  
        </div>

         <div class="standard-promo standard-promo-2">
          <div class="standard-promo-panel standard-promo-panel-brown">
            <h3 class="standard-promo-panel-heading">Sauna</h3>
            <p>Integer augue lectus, fringilla id dui et, fringilla consequat est.
Pellentesque rutrum sapien ante, sit amet inte rdum tu</p>
          </div>  
        </div>
        </div>
      </div>
    </div><!-- Container and row -->
  </div> 
  <!-- Promo panel -->
  <div class="outer-promo-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-1">
            <div class="gold">
              <h3 class="gold-heading">Membership offer</h3>
              <p>New members in August can take part in a free studio session Join us!</p>
            </div>  
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="wide-promo wide-promo-2">
            <div class="gold">
              <h3 class="gold-heading">Personal training</h3>
              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
            </div>  
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- END Promo panel -->
{% endblock %}